/* ==============================================================
   CMS Media
   style declarations for adminCmsMedia.xhtml
   ==============================================================*/
/* ADMIN CMS MEDIA */
.admin-cms-media {
	/* OVERLAY */
	&__overlay {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 2010;
	}
	/* UPLOAD */
	&__upload {
		position: relative;
		margin-bottom: 20px;
		padding: 50px 20px;
		border: 2px dashed @middlegray;
		&.is-dragover {
			border-color: @blue;
		    background-color: @neutralgray;
		}
		&.is-uploading,
		&.is-success,
		&.is-error {
		}
	}
	&__upload-input {
		text-align: center;
		label {
			margin: 0;
			cursor: pointer;
		}		
	}
	&__upload-file {
		.mx-v-hidden;
	}
	&__upload-messages {
		display: none;
	    flex-direction: column;
	    justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 50px 20px;
		text-align: center;
		background-color: @white;
		z-index: 10;
		&.in-progress {
			display: flex;
		}
	}
	&__upload-message {
		display: none;
		overflow: hidden;
		.fa {
			margin-right: 20px;
			font-size: 3rem;
			vertical-align: middle;
		}
		&.uploading,
		&.success,
		&.error {
			&.in-progress {
				display: block;
			}
		}
		&.uploading {
			color: @blue;
		}
		&.success {
			color: @btnSuccess;
		}
		&.error {
			color: @btnDanger;	
			span {
				display: inline-block;
				text-align: left;
			}		
		}
	}
	/* ACTIONS */
	&__actions {
		display: flex;
		align-items: center;
		padding: 10px;
		background-color: @neutralgray;
	}
	&__bulk-actions,
	&__switch {
		margin-right: 15px;
	}
	&__bulk-actions {
		display: flex;
		align-items: center;
		label {
			min-width: 23px;
			margin-bottom: 0;
			padding-right: 0;
		}
		.custom-control__icon {
			color: @black;
		}
	}
	&__switch {
		[data-switch="list"],
		[data-switch="grid"] {
			&.active,
			&:hover,
			&:active,
			&:focus {
				color: @blue;
			}
			&.btn {
				&:active, 
				&:focus, 
				&:active:focus {
					color: @blue;
				}
			}
		}
		[data-switch="list"] {
			margin-right: 10px;
		}
		[data-switch="grid"] {}
	}
	&__filter {
		flex-grow: 1;
	}
	&__paginator {
		margin-left: auto;
		padding-left: 15px;
		.data-table-paginator {
			margin: 0;
		}
	}
	/* MEDIA FILES */
	&__files {}
	&__files.grid .admin-cms-media__file,
	&__file {
		position: relative;
		padding: 10px;
		background-color: @white;
		border: 1px solid #ddd;
		margin-bottom: 5px;
		&:nth-child(odd) {
			background-color:#f9f9f9;
		}
		&:hover {
			.admin-cms-media__file-actions {
				position: static;
			}
		}
		&.fixed {
			display: flex;
			flex-direction: column;
			position: fixed;
		    top: 30px;
		    right: 30px;
		    bottom: 30px;
		    left: 30px;
		    padding: 50px;
		    z-index: 2020;
		    &:nth-child(odd) {
				background-color: @white;
			}
			.admin-cms-media {
				&__file-close,
				&__file-prev,
				&__file-next {
					display: block;					
				}
				&__file-top {
					flex-grow: 1;
				}
				&__file-select {
					display: none;
				}
				&__file-image {
					width: 40%;
					height: 100%;
					background-position: center top;
					background-size: contain;
					box-shadow: none;
				}
				&__file-image-caption {
					top: 0;
					bottom: auto;
				}
				&__file-metadata {
					display: block;
					padding-left: 30px;
				}
				&__file-metadata-view,
				&__file-metadata-edit {
					display: none;
					&.in {
						display: block;
					}
				}
				&__file-bottom {
					display: flex;
					margin-top: auto;
				}
				&__file-actions {
					order: 1;
					margin-left: auto;
					padding-left: 15px;
				}
				&__file-language {
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}
	&__file-close,
	&__file-prev,
	&__file-next {
		display: none;
		position: absolute;
		top: 0;
		width: 42px;
		height: 42px;
		cursor: pointer;
		border-left: 1px solid @middlegray;
		border-bottom: 1px solid @middlegray;
		background-repeat: no-repeat;
		background-position: center;
		
	}
	&__file-close {
		right: 0;
		background-image: url("@{images}/icons/icon_fs-close.svg");
		background-size: 22px;
	}
	&__file-prev,
	&__file-next {
		background-size: 12px;
	}
	&__file-prev {
		right: 84px;
		background-image: url("@{images}/icons/icon_fs-back.svg");
		&.disabled {
			background-image: url("@{images}/icons/icon_fs-back-disabled.svg");
		}
	}
	&__file-next {
		right: 42px;
		background-image: url("@{images}/icons/icon_fs-forward.svg");
		&.disabled {
			background-image: url("@{images}/icons/icon_fs-forward-disabled.svg");
		}
	}
	/* TOP */
	&__file-top {
		display: flex;
		margin-bottom: 20px;
	}
	&__file-select {
		label {
			min-width: 23px;
			margin-bottom: 0;
			padding-right: 0;
		}
		.custom-control__icon {
			color: @black;
		}
	}
	&__file-image {
		position: relative;
		width: 140px;
		min-width: 140px;
		height: 140px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		cursor: pointer;
	}
	&__file-image-caption {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	    max-height: 100%;
		padding: 10px;
		font-weight: 600;
		text-align: center;
		word-wrap: break-word;
		overflow: hidden;
		background-color: rgba(255,255,255,.8);
		box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
	}
	&__file-metadata {
		flex-grow: 1;
		padding-left: 10px;
	}
	&__file-metadata-view,
	&__file-metadata-edit {
		display: none;
		&.in {
			display: block;
		}
	}
	&__file-metadata-view {
		.dl-horizontal {
			margin: 0;
			dt {
				width: auto;
				margin-right: 5px;
				text-align: left;
			}
			dd {
				margin-left: auto;
			}
		}
	}
	&__file-metadata-edit {}
	/* BOTTOM */
	&__file-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 34px;
	}
	&__file-actions {
		position: relative;
		left: -9999em;
		padding-left: 22px;
	}
	&__file-actions-view,
	&__file-actions-edit {
		display: none;
		&.in {
			display: block;
		}
	}
	&__file-actions-view {}
	&__file-actions-edit {}
	&__file-language {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 50%;
		margin-left: auto;
		padding-left: 10px;
		ul {
			.mx-list-reset;
			display: flex;
			align-items: center;
			margin-left: 10px;
		}
		li {
			position: relative;
			margin-right: 11px;
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 6px;
				right: -6px;
				width: 1px;
				height: 12px;
				background-color: @black;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
			&.active,
			&.finished {
				a {
					font-size: @fontNormal;
					font-weight: 700;
				}
			}
			&.active {
				a {
					text-decoration: underline;
				}
			}
			&.finished {
				a {
					color: @black;
				}
			}
		}
		a {
			font-weight: 400;
			color: @middlegray;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

/* GRID VIEW */
.admin-cms-media {
	&__files {
		&.grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(140px, 140px));
			grid-gap: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
			.admin-cms-media {
				&__file {
					padding: 0;
					&:nth-child(odd) {
						background-color: #f9f9f9;
					}
				}
				&__file-select {
					display: none;
				}
				&__file-top {
					margin-bottom: 0;
				}
				&__file-image {
					box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
				}
				&__file-image-caption {
					display: block;
				}
				&__file-metadata,
				&__file-metadata-view,
				&__file-metadata-edit,
				&__file-bottom {
					display: none;
					&.in {
						display: none;
					}
				}
			}
		}
	}
}

/* CREATE PAGE VIEW */
.cms-create-page {
	.admin-cms-media {
		&__file {
			margin-bottom: 5px;
			padding: 0;
			background-color: @white;
		}
		&__file-select {
			.mx-hidden;
		}
		&__file-image {
			cursor: default;
		}
		&__file-top {
			margin: 0;
		}
		&__file-bottom {
			display: none;
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}