/* ==============================================================
   CMS Categories
   style declarations for adminCmsCategories.xhtml
   ==============================================================*/
/* CMS CATEGORIES */
.admin-cms-categories {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 15px;
	}
	&__edit,
	&__list {}
	/* EDIT */
	&__edit {}
	/* LIST */
	&__list {
		padding-top: 75px;
	}
	/* CREATE */
	&__create {}
	&__create-action {
		padding-top: 15px;
	}
	td {}
	.cms-module__table > tbody > tr .cms-module__actions {}
	.cms-module__table > tbody > tr:hover .cms-module__actions {
		width: 14rem;
		text-align: right; 
	} 
}

// BREAKPOINT FOR LARGE DESKTOPS
@media screen and (max-width: @largeBreakpoint) {}

// BREAKPOINT FOR DESKTOPS
@media screen and (max-width: @mediumBreakpoint) {}

// BREAKPOINT FOR TABLETS
@media screen and (max-width: @smallBreakpoint) {}

// BREAKPOINT FOR SMARTPHONES
@media screen and (max-width: @xSmallBreakpoint) {}