/* ==============================================================
   Browse
   style declarations for browse.xhtml
   ==============================================================*/
/* deprecated since 3.2 */
#browse {
    h2 {}
    p {}
}

form[id*="collectionForm"] {}

#collectionWrapp {
    position: relative;
    margin-bottom: 1.3125rem;
    #AJAXLoader {
        background-image: url("@{images}/ajax_preloader.gif");
        background-position: center center;
        background-repeat: no-repeat;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            min-height: 1.5rem;
            line-height: 1.5rem;
            margin: 0 0 0.25rem 0;
            &.level-0 {}
            .collection-elem-content-wrapp {
                .collection-elem-structure,
                .collection-elem-content {
                    float: left;
                }
                .collection-elem-structure {
                    width: 5%;
                    min-height: 1px;
                    font-size: 1.3125rem;
                    a {
                        &:hover {
                            text-decoration: none;
                        }
                        .fa {
                            margin-left: 5px;
                            color: @gray;
                        }
                    }
                }
                .collection-elem-content {
                    width: 95%;
                    &.fullwidth {
                        width: 100%;
                    }
                    a {
                        display: block;
                        float: left;
                        width: 90%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        &.top-collection-elem {
                            font-size: 1.3125rem;
                            font-weight: bold;
                        }
                        .fa {
                            display: inline;
                            margin-right: 5px;
                        }
                    }
                    .collection-elem-info {
                        float: right;
                        width: 10%;
                        font-size: 1.3125rem;
                        text-align: right;
                        a {
                            display: inline;
                            float: none;
                            width: auto;
                            &:hover {
                                text-decoration: none;
                            }
                            span {
                                .fa {
                                    color: @gray;
                                }
                            }
                            .fa-rss-square {
                                color: @orange;
                            }
                        }
                    }
                }
                .collection-elem-description {
                    clear: both;
                    padding: 0.625rem 0 0.625rem 5%;
                }
            }
        }
    }
}

/* BROWSE */
/* BLOCK */
.collections {
	/* ELEMENT */
	&__wrapper {
		position: relative;
		div[class*="col-xs"],
		div[class*="col-sm"] {
            padding: 0;
        }
	}
}
.collection {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid @middlegray;
    border-top: none;
	/* ELEMENT */
	.row {
		margin: 0;
	}
	&__item {}
	&__structure,
	&__title,
	&__description-toggle,
	&__rss {
		a {
			display: block;
			padding: 10px 0;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	&__structure {}
	&__title {
	   div.col-xs-12 {
	       padding-left: 15px;
	   }
	}
	&__top-element {
		font-weight: bold;
	}
	&__description-toggle,
	&__rss {
		width: 50%;
		padding-right: 15px;
		text-align: right;
	}
	&__description-toggle {
	   padding: 0;
	}
	&__rss {}
	&__description {
		padding: 5px 15px;
	}
}
/* MODIFICATION */
.collection__item--level-0 {
    border-top: 1px solid @middlegray;
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
    /* deprecated since 3.2 */
    #collectionWrapp {
        #AJAXLoader {}
        ul {
            li {
                .collection-elem-content-wrapp {
                    .collection-elem-structure,
                    .collection-elem-content {}
                    .collection-elem-structure {
                        width: 10%;
                        a {
                            &:hover {}
                            .fa {}
                        }
                    }
                    .collection-elem-content {
                        width: 90%;
                        &.fullwidth {}
                        a {
                            &.top-collection-elem {}
                            .fa {}
                            &:hover {}
                        }
                        .collection-elem-info {
                            a {
                                &:hover {}
                                span {
                                    .fa {}
                                }
                                .fa-rss-square {}
                            }
                        }
                    }
                    .collection-elem-description {}
                }
            }
        }
    }
    
    /* BROWSE */
    .collection__structure a, 
    .collection__title a, 
    .collection__description-toggle a, 
    .collection__rss a {
        padding: 10px 0;
    }
    .collection__description img {
		display: block;
	    max-width: 100%;
	    height: auto;
	}
}