/* ==============================================================
   CMS Collections
   style declarations for adminCmsCollections.xhtml
   ==============================================================*/
#cmsCollections{

	.selectionGroup {
		.selectionLabel {
			width: 300px;
		}
		.selectionInput {
			display: inline-block;
			width: 400px;
			input {
				width: calc(~"100% - 37px");
			}
		}
	}
	
	.collection_list {
		display: flex;
		flex-direction: column;
		.collection_list_item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			border: 2px solid grey;
			margin: 10px;
			label {
				margin: 0;
				padding: 5px;
			}
			.collection_list_item_entry {
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				border-right: 1px solid grey;
				flex-grow: 1;
	   			flex-basis: 0;
				min-width: 80px;
				img {
					width: 70px;
					height: 50px;
				}
				a {
					padding: 10px;
					font-size: 24px;
				}
			}
		}
	}

}