/* ==============================================================
   CMS Collections
   style declarations for adminCmsCollections.xhtml
   ==============================================================*/
#cmsCollections{

	.selectionGroup {
		.selectionLabel {
			width: 300px;
		}
		.selectionInput {
			display: inline-block;
			width: 400px;
			input {
				width: calc(~"100% - 37px");
			}
		}
	}

}