#cmsEditCollection {
	
	.edit_collection_table {
		display: flex;
		flex-direction: column;
		justify-content: center;
 		align-items: center;
 		
 		.edit_collection_row {
 			display: flex;
			flex-direction: row;
			justify-content: center;
	 		align-items: center;
	 		
	 		.edit_collection_label {
	 			flex-shrink: 3;
	 		}
	 		.edit_collection_value {
	 		}
	 		.edit_language_table {
	 			display: flex;
				flex-direction: row;
				justify-content: center;
		 		align-items: center;
		 		
		 		.edit_language_column {
		 			display: flex;
					flex-direction: column;
					justify-content: center;
			 		align-items: center;
			 		
			 		.edit_language_label {
			 			height: 24px;
			 		}
			 		.edit_language_value {
			 		}
		 		}
	 		}
  		}
	}
}