/* ==============================================================
   CMS Menu Items
   style declarations for adminCmsMenuItems.xhtml
   ==============================================================*/
/* CMS MENU */
.cms-menu {
	h2 {}
	/* SELECT THEME */
	&__select-theme {
		margin-bottom: 15px;
	}
	/* ADD ITEM */
	&__add-item {
		[data-toggle="add-menu-item"] {
			padding-bottom: 15px;
			.fa {
				transition: all 0.2s linear;				
			}
			&.in {
				.fa {
					transform: rotate(-45deg);				
				}	
			}
		}
	}
	&__add-item-options {
		display: none;
	}
	/* SAVE */
	&__save {
		padding: 15px;
		text-align: right;
		border: 1px solid transparent;
		background-color: @white;
		&.fixed {
			position: fixed;
			top: 0;
			border-color: @middlegray;
			z-index: 999;
		}
	}
	/* MENU EDITOR */
	&__editor {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
	/* VISIBLE/AVAILABLE ITEMS */
	&__visible-items {
		padding-left: 15px;
		h4 {}
		.cms-menu__available-item-level {
			visibility: visible;
			flex-basis: 20%;
			padding: 10px;
		}
	}
	&__visible-items-list,
	&__available-items-list {
		.mx-list-reset;
	}
	&__visible-item,
	&__available-item {
		display: flex;
		flex-wrap: wrap;
	    margin-bottom: 5px;
	    border: 1px solid @middlegray;
	    background-color: @lightgray;
	    &.unpublished {
	        opacity: 0.5;
	    }
	    &.deleted {
	        border: 1px solid red;
	        opacity: 0.5;
	    }
	}
	&__visible-item-level,
	&__available-item-level {
		flex-basis: 20%;
		padding: 10px;
		padding-right: 0;
	}
	&__visible-item-label,
	&__available-item-label {
		flex-basis: 70%;
		padding: 10px;
		word-break: break-word;
	}
	&__visible-item-edit,
	&__available-item-edit {
		flex-basis: 10%;
		padding: 10px;
		padding-left: 0;
		button {
			display: block;
			width: 100%;
		    text-align: right;
		    .fa {
				transition: all 0.2s linear;				
			}
			&.in {
				.fa {
					transform: rotate(180deg);				
				}	
			}
		}
	}
	&__visible-item-edit-wrapper,
	&__available-item-edit-wrapper {
		display: none;
		flex-basis: 100%;
		margin: 0;
		border: none;
		border-top: 1px solid @middlegray;
		.cms-module__option-label {
			flex-basis: 30%;
		}
		.cms-module__option-control {
			flex-basis: 65%;
		}
	}
	/* AVAILABLE ITEMS */
	&__available-items {
		padding-right: 15px;
		h4 {}
	}
	&__available-item-level {
		visibility: hidden;
		flex-basis: 0;
		padding: 0;
	}
	&__available-item-label {}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}