/* ==============================================================
   CMS Select Template
   style declarations for adminCmsSelectTemplate.xhtml
   ==============================================================*/
#cmsSelectTemplate {
    h2 {}
    #cmsSelectTemplateWrapper {
        float: left;
        width: 100%;
        .row {
            margin-bottom: 14px;
            border-bottom: 1px solid @lightgray;
        }
        .select-template-image {
            img {}
        }
        .select-template-description {
            h3 {
                margin: 0 0 21px 0;
            }
        }
        .select-template-action {
            padding: 14px 0;
            text-align: right;
            .btn {}
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}