/* ==============================================================
   born-digital
   style declarations for bornDigital.xhtml
   ==============================================================*/
/* BORN DIGITAL */
/* BLOCK */
.born-digital {
	margin-bottom: 21px;
	margin-top: 25px;
	/* ELEMENT */
	h2 {}
	p {}
	&__items { 
		display: grid;
		grid-template-columns: 40% repeat(4, 15%);
		grid-gap: 5px;
	}
	&__head {
		font-weight: bold;
		padding-bottom: 0.5rem;
	}
	&__item {
		position: relative;
		word-wrap: break-word;
		place-self: center start;
	}   
	&__item-order-label {
		display: block;
		margin-top: 3px;
		padding: 1px 3px;
		color: @white;
		font-size: @fontSmall;
		border-radius: 5px;
		background-color: @blue;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
