/* ==============================================================
   colorThemeToggle
   style declarations for 
   ==============================================================*/

.color-theme-switch {
	display: none;
	&.active {
		display: block;
	}
	&.hide {
		display: none;
	}
}

@media (prefers-color-scheme: dark) { 
	.color-theme-switch-dark {
		display: block;
	}
	.color-theme-switch-dark.hide {
		display: none;
	}
}