.geomap {
	display: flex;
	justify-content: center;
	align-items: center;
	.geomap_popover {
	}
	.ajax_loader {
		display: none;
		z-index: 2000;
	}
	.record_geomap_popover {
		font-size: 10px;
		h3 {
			font-size: 12px;
		}
	}
}