/* ==============================================================
   Image Controls
   Style declarations for imageControls.xhtml
   ==============================================================*/
/* CONTROLS */
/* BLOCK */
.image-controls {
	padding: 10px;
	position: relative;
    &.-ltr, .-ltr {
        direction: ltr;
    }
    &.-rtl, .-rtl {
        direction: rtl;
    }
	&__inner {
		display: flex;
		flex-wrap: wrap-reverse;
		gap: 5px;
	}
	// GRID/GAP SIZING FOR THE IMAGE ACTIONS/CONTROLS + (DOC) OPTIONS
    &__actions,
    &__actions-nav,
    &__actions-additional,
	&__options {
		display: flex;
		gap: 6px;
		flex-wrap: wrap;
	}
	/* DOCUMENT OPTIONS */
	&__options {
		gap: 10px;
		margin-left: auto;
		ul {
			display: flex;
			flex-wrap: wrap;
		}
	    li {
	    	align-self: center;
	    }
	}
	&__option {
		a, 
		span, 
		button {
			color: @gray;
			&:hover,
			&:active,
			&:focus {
				color: @gray;
			}
			&[disabled] {
				cursor: default;
			}
		}
		a, button {
			display: block;
			width: 100%;
			text-align: center;
		}
		&.fulltext {}
		&.add-to-bookmark {
			[data-bookmark-list-type="add"] {
			    background-image: none;
			    .fa-bookmark-o {
			    	display: inline-block;
			    }
			    .fa-bookmark {
			    	display: none;
			    }
			    &.added, 
			    &:hover {
			    	.fa-bookmark-o {
			    		display: none;
			    	}
			    	.fa-bookmark {
			    		display: inline-block;
			    	}
			    }
			}
		}
		&.share-image-region {
			cursor: pointer;
			a.active {
				color: #FF2523;
			}
		}
	}
    /* ACTIONS */
    &__actions {
	
    	flex-grow: 1;
    	ul {
		}
	    li {
	    	align-self: center;
	    }
    }
	&__select-text {
		display: flex;
		align-items: center;
		margin-inline-end: 1rem;
		& + .image-controls__action.select {
			width: 145px;
		}
	}
	&__includes-container {
		display: none;
	}
    &__action {
		width: 32px;
		height: 32px;
		border: 1px solid @gray;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		    &:hover,
		    &:active,
		    &:focus {
		    	background-color: @lightgray; 
		    }
	    /* ELEMENT */
	    a, 
		span, 
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			padding: 0.4rem;
			font-size: 1.2rem;
			font-weight: 400;
			color: @gray;
			fill: @gray;
			border: none;
			cursor: pointer;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
			img,
			svg {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
    	.custom-control--select::after {
    		border-top-color: @gray;
    	}
		span {
			cursor: default;
		}
		[class*="image-"] {
			position: relative;
			font-size: @fontXLarge;
		}
		&.inactive {
			opacity: 0.4;
			cursor: default;
	    	&:hover,
			&:active,
			&:focus {
				background-color: transparent;
			}
	    	a,
	    	span,
	    	button {}
//	    	> img, svg {
//	    		width: 32px;
//	    		height: 32px;
//	    		padding: 0.4rem;
//	    	}
		}
	    /* ELEMENT */
	    &.start {}
	    &.page-browse,
	    &.select {}
	    &.page-browse {
	        a, span {}
	    }
	    &.back {}
	    &.select-text {
	    	width: auto;
	    	min-width: 32px;
	    	border: none;
	    	span {
		    	font-size: @fontMedium;
	    		border: none;
		    	cursor: text;
	    	}
	    }
	    &.select {
	    	width: 110px;
	        .custom-control--select {
	        	height: 30px;
	            border: none;
	            background: none;
	            select {
	                background: none;
	            }
	        	&:after {}
	        }
	    }
	    &.forward {}
	    &.end {}
	    &.double-page-view,
	    &.single-page-view,
	    &.switch-pages {
		    [class*="image-"] {
				font-size: @fontXLarge;
			}	    	
	    }
	    &.double-page-view,
	    &.single-page-view,
	    &.switch-pages {
	    	a,
	    	span,
	    	button {
	    		padding: 0.7rem;
	    	}
	    }
	    &.double-page-view {}
	    &.single-page-view {}
	    &.switch-pages {
	    	a {}
	    	svg {}
	    }
	    &.rotate-left,
	    &.rotate-right {
	    	[class*="image-"] {}
	    }
	    &.rotate-left {}
	    &.rotate-right {}
	    &.reset {}
	    &.enter-fullscreen {}
	    &.zoom-slider-wrapper {
	        width: 100px;
	        border: none;
	        cursor: default;
	        &:hover,
	        &:focus,
	        &:active {
	        	background-color: transparent;
	        }
	        .zoom-slider {
	            height: 10px;
	            border: 1px solid @gray;
	            max-width: 100%;
	            //Firefox
		        &::-moz-range-thumb {
		            width: 8px;
		            height: 26px;
		            border: none;
		            background-color: @gray;
		            border-radius: 0;
		        }
		        //Chrome
	        	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
				background: transparent; /* Otherwise white in Chrome */
				&:focus {
				  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
				}
		        &::-webkit-slider-thumb {
				  -webkit-appearance: none;
	              width: 8px;
	              height: 26px;
	              border: none;
	              background-color: @gray;
	              border-radius: 0;
				}
				&::-webkit-slider-runnable-track {
				} 
	        }
	    }
		&.-imageControlsFont {
			font-family: image-controls;
			font-style: normal;
			i {
				font-style: normal;
			}
		}
	}
    /* MODIFICATION */
	.labeltext {
		padding: 0;
		display: none !important;
	}
	.share-image-area {
		.btn.btn--full {
			color: @white;
		}
		a {
			color: @blue;
		}
		&__controls {
			margin-top: 10px;
		}
		ul {
			margin: 10px 0 0 14px;
			list-style: circle;
			li {
				margin-bottom: 10px;
				a {
					text-align: left;
				}
			}
		}
	}
}


.tooltip_clipboard {
	display: none;
	position: absolute;
	z-index: 10000;
	background-color: rgb(68, 68, 68);
	color: #f1f2f3;
	padding: 3px;
	vertical-align: middle;
	border-radius: 10px;
	font-size: @fontSmall;
}

@{RTL} {
	.image-controls {
		direction: rtl;
		&__option {
			direction: rtl;
		}
		&.-ltr {
			.forward, .back, .start, .end {
				transform: rotate(180deg);
			}
		}
	}
}

/* FIREFOX CORRECTION */
@-moz-document url-prefix() {
	.image-controls__action.switch-pages .image-switchPages {
		width: 21px;
	}
}

/* BREAKPOINT FOR LARGE DESKTOP */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
	.image-controls {
		form {
			align-items: flex-start;
		}
		&__options {
			margin-left: inherit;
		}
		&__option {
			&.share-image-region,
			&.image-filter {
				display: none;
			}
		}
	}
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
	.image-controls {
		&__actions {
			ul {
				justify-content: flex-start;
			}
		}
		&__action {
			&.select {
				width: 74px;
			}
			&.zoom-slider-wrapper {
				.mx-hidden;
			}
		}
	}
}