/* ==============================================================
   Login Navigation
   style declarations for loginNavigation.xhtml
   ==============================================================*/
/* LOGIN NAVIGATION */
/* BLOCK */
.login-navigation {
	position: relative;
	.mx-list-reset;
	/* ELEMENT */
	/* NOT LOGGED IN */
	[data-login="false"] {
		button[data-toggle="login-dropdown"] {
			span {}
			.fa {
				margin-left: 5px;
			}
		}
	}
	/* LOGGED IN */
	[data-login="true"] {
		button[data-toggle="user-dropdown"] {
			display: flex;
		    align-items: center;
		    justify-content: center;
		    max-width: 150px;
		}
		.login-navigation {
			/* TOGGLE USER DROPDOWN */
			&__user-name {
				max-width: 150px;
				padding-right: 5px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}			
			&__user-icon {
				display: flex;
				padding-right: 5px;
				padding-left: 5px;
				img {
					max-height: 16px;
				}
			}
			/* USER DROPDOWN */
			&__user-dropdown {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				width: 275px;
				padding: 10px;
				padding-bottom: 0;
				padding-top: 0;
				font-size: @fontNormal;
				background-color: @white;
				overflow: hidden;
				z-index: 999;
				ul {
					.mx-list-reset;
					margin-right: -10px;
					margin-left: -10px;
				}
				li {
					margin: 0;
					border-bottom: 1px solid @middlegray;
				}
			}
			&__user-dropdown-item {
				display: flex;
				align-items: center;
				font-size: @fontNormal;
			}
			&__user-dropdown-item-icon {
				min-width: 10%;
				padding-left: 15px;
				.fa {
					color: @blue;
				}
			}
			&__user-dropdown-item-string {
				-webkit-box-flex: 1;
			    -ms-flex-positive: 1;
			    flex-grow: 1;
				a {
					display: block;
					padding: 7px 15px;
					color: @black;
					&:hover,
					&:active,
					&:focus {
						text-decoration: none;
					}
				}
			}
			/* USER DROPDOWN ACTION */
			&__user-dropdown-action {
				padding-top: 10px;
				.btn {
					width: 100%;
					margin: 0;
					&:hover,
					&:active,
					&:focus {}
				}
			}
		}
	}	
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {} 