/* ==============================================================
   Login Navigation
   style declarations for loginNavigation.xhtml
   ==============================================================*/
/* LOGIN NAVIGATION */
/* BLOCK */
.login-navigation {
	.mx-list-reset;
	position: relative;
	&__list {
		.mx-list-reset;
	}
	/* ELEMENT */
	/* NOT LOGGED IN */
	[data-login="false"] {
		button[data-toggle="login-dropdown"] {
			span {}
			.fa {
				margin-left: 5px;
			}
		}
	}
	/* LOGGED IN */
	[data-login="true"] {
		button[data-toggle="user-dropdown"] {
			display: flex;
		    align-items: center;
		    justify-content: center;
		    max-width: 150px;
		}
		.login-navigation {
			/* TOGGLE USER DROPDOWN */
			&__user-name {
				max-width: 150px;
				padding-right: 5px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}			
			&__user-icon {
				display: flex;
				padding-right: 5px;
				padding-left: 5px;
				img {
					max-height: 16px;
				}
			}
			/* USER DROPDOWN */
			&__user-dropdown {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				width: 240px;
				padding-bottom: 0;
				padding-top: 0;
				font-size: @fontNormal;
				background-color: @white;
				overflow: hidden;
				z-index: 999;
				li {
					margin: 0;
				}
			}
			&__user-dropdown-item {
				display: flex;
				align-items: center;
				font-size: @fontNormal;
			}
			&__user-dropdown-item-icon {
				min-width: 30px;
				padding-left: 1.5rem;
				.fa {
					color: @blue;
				}
			}
			&__user-dropdown-item-string {
				-webkit-box-flex: 1;
			    -ms-flex-positive: 1;
			    flex-grow: 1;
				a {
					display: block;
					padding: 0.7rem 1.2rem;
					color: @black;
					&:hover,
					&:active,
					&:focus {
						text-decoration: none;
					}
				}
			}
			/* USER DROPDOWN ACTION */
			&__user-dropdown-action {
				padding-top: 10px;
				.btn {
					width: 100%;
					margin: 0;
					&:hover,
					&:active,
					&:focus {}
				}
			}
			/* BOOKMARK DROPDOWN */
			&__bookmarks-list-wrapper {
				.-opened {
					.fa-caret-down {
						transform: rotate(180deg);
					}
				}
			}
			&__bookmarks-dropdown {
				.mx-list-reset;
				display: block;
			}
			&__bookmarks-small-list {
				display: none;
				padding: 0.5rem 1rem 0.5rem 1.5rem;
				background: #3a3a3a;
			}
			&__bookmarks-entry {
				display: flex;
				justify-content: space-between;
				padding: 0.3rem 0;
				font-size: 1.4rem;
			}
			&__bookmarks-name {
				flex-grow: 1;
				a {
					white-space: nowrap;
					width: 100%;
					max-width: 155px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			&__bookmarks-name a, 
			&__bookmarks-icon-list .fa, 
			&__bookmarks-icon-list {
				a {
					margin-right: 0.7rem;
				}
				&:hover {
					color: #ffd65b;
				}
			}
			&__bookmarks-icon-list,
			&__bookmarks-icon-list a {
				display: flex;
				text-decoration: none;
				align-items: center;
			}
			&__bookmarks-counter {
				padding: 0 0.3rem;
				font-size: 1.2rem;
				color: #fff;
				border-radius: 2px;
				background-color: @blue;
				align-self: center;
			}
			&__bookmarks-overview-link {
				margin-left: auto;
				&:hover {
					color: #ffd65b;
				}
			}
			&__bookmarks-trigger {
				.mx-no-style-button;
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 0.7rem 1.2rem;
				.fa-caret-down {
					align-self: center;
					margin-left: 0.8rem;
					transition: all 0.2s ease;	
				}
			}
		}
	}	
}

@{RTL} {
	.login-navigation {
		[data-login="true"] {
			.login-navigation {
				&__user-dropdown {
					right: unset;
					left: 0;
				}
				&__bookmarks-icon-list {
					a {
						margin-left: 0.7rem;
						margin-right: unset;
					}
				}
				&__user-dropdown-item-icon {
					padding-left: 0;
					padding-right: 1.5rem;
				}
			}
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {} 