/* ==============================================================
   Modals
   style declarations for Bootstrap Modals
   ==============================================================*/
.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                text-align: left;
                button {}
                h4 {}
            }
            .modal-body {
                text-align: left;
                textarea {
                    width: 100%;
                    min-height: 150px;
                }
            }
            .modal-footer {
                .btn {
                	width: auto !important;
                    margin-left: 10px;
                }
            }
        }
    }
    // MODAL USER TERMS
    &__user-terms-actions {}
    	display: none;
    &__user-terms-text {}
    &__user-terms-actions {}
    &__user-terms-decline {}

    // MODAL FEEDBACK    

    // MODAL USER TERMS

}

@{RTL} .modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                text-align: right;
                button {}
                h4 {}
            }
            .modal-body {
                text-align: right;
                textarea {
                }
            }
            .modal-footer {
                .btn {
                }
            }
        }
    }
    // MODAL USER TERMS
    &__user-terms-actions {}
    &__user-terms-text {}
    &__user-terms-actions {}
    &__user-terms-decline {}
    // MODAL FEEDBACK    
    // MODAL USER TERMS
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}