/* =============================================================
   SLIDER STYLING - predefined core slider sets (viewerJS.slider.js)
   ==============================================================*/

/* FULL WIDTH */
.slider-full-width {
    &__container {
    }
    &__wrapper {
        align-items: flex-end;
    }
    &__slide {
    }
    &__header {
    }
    &__image {
        height: 500px;
        background-size: cover;
    }
    &__link {
    }
    &__description {
    }
}

/* VERTICAL  */
.slider-vertical-auto-play {
    &__container {
    }
    &__wrapper {
        align-items: flex-end;
        height: 500px;
    }
    &__slide {
        overflow: hidden;
    }
    &__header {
    }
    &__image {
        background-size: cover;
        flex-grow: 1;
    }
    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__description {
    }
}

/* 3 SLIDES AND PAGINATION AND NAV */
.slider-3-slides-pagination-nav {
    &__container {
    }
    &__wrapper {
    }
    &__slide {
    }
    &__header {
        font-size: 1.6rem;
    }
    &__image {
        height: 210px;
        background-size: cover;
    }
    &__link {
    }
    &__description {
    }
}

/* 3 SLIDES AND PAGINATION */
.slider-3-slides-pagination {
    &__container {
    }
    &__wrapper {
        //		align-items: flex-end;
    }
    &__slide {
    }
    &__header {
        font-size: 1.6rem;
    }
    &__image {
        height: 210px;
        background-size: cover;
    }
    &__link {
    }
    &__description {
    }
}

/* FADE EFFECT WITH AUTO PLAY */
.slider-fade-effect-auto-play {
    &__container {
    }
    &__wrapper {
    }
    &__slide {
    }
    &__header {
    }
    &__image {
        height: 500px;
        background-size: cover;
    }
    &__link {
    }
    &__description {
    }
}

/* CENTERED MODE */
.slider-centered-mode {
    &__container {
    }
    &__wrapper {
        align-items: flex-end;
    }
    &__slide {
    }
    &__header {
        font-size: 1.6rem;
    }
    &__image {
        height: 220px;
        background-size: cover;
    }
    &__link {
    }
    &__description {
    }
}

/* COVER ROW */
.slider-cover-row {
    &__container {
    }
    &__wrapper {
    }
    &__slide {
        width: auto;
    }
    &__link {
        position: relative;
        display: block;
    }
    &__header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: @fontLarge;
        text-align: center;
        color: @white;
        background-color: fade(@black, 75%);
        opacity: 0;
        transition: opacity 0.2s;
    }
    &__link:hover &__header,
    &__link:focus-visible &__header {
        opacity: 1;
    }
    &__image {
        display: block;
        width: auto;
        height: 300px;
    }
    &__description {
        display: none;
    }

}

.slider-navigation-wrapper-cover-row {
	.swiper-button-next, .swiper-button-prev {
		&.swiper-button-disabled {
			pointer-events: all;
		}
	}
}
