/* ==============================================================
   Feedback
   style declarations for feedback.xhtml
   ==============================================================*/
/* FEEDBACK */
/* BLOCK */
.view-feedback {
	margin-bottom: 10px;
	/* ELEMENT */
	h2 {}
	p {}
    .form-group {
	    label {
	    	font-weight: 700;
	    }
	    input {}
        textarea {
            min-height: 150px;
            resize: vertical;
        }    	
	    .btn {
	    	margin: 0;
	    }	
    }
    .form-group.lastname {
        display: none;
    }
    .composite-control {
		padding-top: 6px;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}