--- context.xml
+++ context.xml.new
@@ -13 +13,8 @@
+
+    <Resources>
+        <PreResources
+            className="org.apache.catalina.webresources.DirResourceSet"
+            base="/opt/digiverso/viewer/themes/${THEME_DIR}/WebContent/resources/themes"
+            webAppMount="/resources/themes" />
+    </Resources>
 </Context>
