/* ==============================================================
   View Reading Mode
   style declarations for viewReadingMode.xhtml 
   ==============================================================*/
/* READING MODE */
#readingMode {
    background-color: @white; 
}
.reading-mode {
    position: relative;
    height: 100%;
    /* HEADER */
    &__header {
    	position: fixed;
    	top: 0;
    	right: 0;
    	left: 0;
    	display: flex;
    	align-items: center;
    	height: 70px;
    	border-bottom: 1px solid @rmMiddlegray;
    	background-color: @white;
    	transition: all .3s linear;
    	opacity: 1;
    	z-index: 1050;
    	&.fullscreen {
    		top: -70px;
    	}
    }
    &__header-brand,
    &__header-controls,
    &__header-exit {
    	padding-right: 15px;
    	padding-left: 15px;
    	a, button {
    		color: @rmDarkgray;
    		&:hover,
    		&:active,
    		&:focus {
    			color: @rmDarkgray;
    			text-decoration: none;
    		}
    	}
    }
    &__header-brand {
    	padding-top: 15px;
    	padding-bottom: 15px;
    	img {
    		max-height: 40px;
    	}
    	span {}
    }
    &__header-controls {
    	display: flex;
    	align-items: center;
    	[data-show="thumbs"] {
    		width: 32px;
    		height: 32px;
    		margin-left: 10px;
    		background-image: url("@{images}/icons/readingmode/icon_rm-thumbs.svg");
    		background-repeat: no-repeat;
    		background-position: center center;
    		background-size: 22px;
    		&.in {
	    		background-image: url("@{images}/icons/readingmode/icon_rm-close.svg");    			
    		}
    	}
    }
    &__header-exit {
    	margin-left: auto;
    	a {
    		display: inline-block;
    		width: 32px;
    		height: 32px;
    		background-image: url("@{images}/icons/readingmode/icon_rm-close.svg");
    		background-repeat: no-repeat;
    		background-position: center center;
    		background-size: 28px;
    	}
    }
    /* VIEW */
	&__view {
		.mx-clearfloats;
		position: relative;
		transition: all .3s linear;
	}
	/* IMAGE */
    &__view-image,
	&__view-image-inner,
	.view-object__image-map {
		height: 100vh;
	}
	&__view-image {}
	&__view-image-inner {
		position: relative;
		.view-object__image {
			padding: 0;
		}
	}
	/* THUMBS */
	&__view-image-thumbs-wrapper {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 15px;
		background-color: @white;
		overflow-y: auto;
		z-index: 10;
	}
	&__view-image-thumbs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	&__view-image-thumb {
		position: relative;
		width: 175px;
		min-height: 250px;
		margin: 10px;
	}
	&__view-image-thumb-preloader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url("@{images}/infinity_loader.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 64px;
		z-index: 10;
	}
	&__view-image-thumb-image {
		img {
			display: block;
			margin: 0 auto;
			max-height: 250px;
			opacity: 0;
			transition: all 0.3s ease-in;
			&.in {
				opacity: 1;
			}			
		}
		figcaption {}
	}
	&__view-image-thumb-image-order {
		padding: 5px;
		text-align: center;
		opacity: 0;
		transition: all 0.3s ease-in;
		&.in {
			opacity: 1;
		}		
	}
	/* SIDEBAR */
	&__view-sidebar-open {
		display: none;
		position: absolute;
		top: 75px;
		right: -110px;
		width: 150px;
		padding: 10px;
		background-color: @white;
		transition: all .3s linear;
	    &:hover {
	    	right: 0;
	    	.btn {
	    		padding-left: 20px;
	    	}
	    }
		.btn {
			padding-left: 40px;
			color: @rmDarkgray;
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 10px;
			background-image: url("@{images}/icons/readingmode/icon_rm-left.svg");			
	    	overflow: hidden;
			&:hover,
			&:active,
			&:focus,
			&:active:focus,
			&.active,
			&.active.focus, 
			&.active:focus, 
			&.focus, 
			&:active.focus {
	    		color: @rmDarkgray;
	    		text-decoration: none;
	    	}
		}
	}
	&__view-sidebar {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 400px;
		padding-top: 70px;
		padding-left: 10px;
		background-color: rgba(255,255,255,0.9);
		overflow-y: auto;
		transition: all .3s linear;
		z-index: 1010;
		&.closed {
			right: -100% !important;
			left: 100% !important;
		}
		.ui-resizable-handle {
			left: 0;
			border-right: 1px solid @rmMiddlegray;
			z-index: 998 !important;
			&:before,
			&:after {
				content: "";
				position: absolute;
				display: block;
				top: 50%;
				width: 1px;
				height: 40px;
				margin-top: -20px;
				background-color: @rmMiddlegray;
			}
			&:before {
				right: 2px;
			}
			&:after {
				right: 5px;
			}
		}
		.ui-resizable-w {
			width: 10px;
			cursor: w-resize;
		}
	}
	&__view-sidebar-inner {}
	&__view-sidebar-controls {
		display: flex;
		align-items: center;
		padding: 15px;
		.btn {
			width: 28px;
			height: 28px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 14px;
		}
		[data-close="rm-sidebar"] {
			background-image: url("@{images}/icons/readingmode/icon_rm-right.svg");
			background-size: 10px;
		}
		[data-close="all-tabs"] {
			margin-left: auto;
			background-image: url("@{images}/icons/readingmode/icon_rm-minus.svg");
		}
		[data-open="all-tabs"] {
			background-image: url("@{images}/icons/readingmode/icon_rm-plus.svg");
		}
	}
	/* SIDEBAR ACCORDEON */
	&__view-sidebar-accordeon {
		border-bottom: 1px solid @rmMiddlegray;
	}
	&__view-sidebar-accordeon-panel {
		position: relative;
		background-color: @white;
		&.rm-metadata {}
		&.rm-toc {
			.reading-mode__view-sidebar-accordeon-panel-body {
				padding-top: 0;
			}
		}
		&.rm-downloads {}
		&.rm-fulltext {}
		&.rm-search-hit-navigation {
			.mx-hidden;
		}
	}
	&__view-sidebar-accordeon-panel-title {
		position: relative;
		margin: 0;
		padding: 10px 15px;
		font-size: 1rem;
		border-top: 1px solid @rmMiddlegray;		
		background-image: url("@{images}/icons/readingmode/icon_rm-plus.svg");
		background-repeat: no-repeat;
		background-position: 94% 17px;
		background-size: 14px;
		background-color: @white;
		cursor: pointer;
		z-index: 20;
		span {
			display: inline-block;
			max-width: 94%;
		}
		&.in {
			background-image: url("@{images}/icons/readingmode/icon_rm-minus.svg");
		}
	}
	&__view-sidebar-accordeon-panel-body {
		display: none;
		padding: 15px;
		overflow-y: auto;
		& > h2 {
			.mx-hidden;
		}
	}
	/* MODIFICATION */
	.widget {
		margin: 0;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}
 
/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}