#createCampaign {
	
	.create-page-right {
	
		.campaign-statistics {
				flex-wrap: wrap;
			&__text {
				width: 100%;
				padding: 10px;
				dl {
					dt {
						&:after {
						}
					}
					dd {
					}
				}
			}
			
			&__bar {
				width: 100%;
				display: block;
				padding: 0 10px 10px 10px;
				progressBar {
				height:50px;
				}
				.goobi-progress-bar-wrapper {					
					.goobi-progress-bar {
						&__bar {
						}
					}
				}
			}
		}
	}
}