

#createCampaign {
	
	h2 {
		.btn {
			margin-left: 25px;
		}
	}
	
   .edit-content-page {
   
   		&.edit-content-page-content {
   			padding-bottom: 30px;
  			border-bottom: 1px dotted #ddd; 
   		}
   		&.edit-content-page-single-question {
   			padding: 10px;
		    background-color: #fafafa;
		    border: 1px solid #e5e5e5;
		    margin-bottom: 5px;
/* 		    TODO: letztes Element ohne margin-bottom */
   		}
   		.cms-module__option-control {
   			padding-left: 0;
   			select {
   				padding-left: 10px;
   			}
   		}
   }

	.create-page-right {
		margin-bottom: 20px;
	
		#cmsCreatePageMetadataItemWrapper {
			border: 1px solid #ccc;
		}
		
		.page-metadata-item-status {
			
			>div {
				margin-top: 2em;
				&:nth-of-type(1) {
					margin-top: 0;
				}
			}
			.page-metadata-item-date-selector {
				display: grid;
				grid-template-columns: 25% auto;
				h3 {
					grid-column: span 2;
				}
				.cms-module__actions {
					grid-column-start: 2;
					justify-self: end;
				}
			}
			.cms-module__actions {
				float: right;
			}
			.form-control {
	   			line-height: 21px;
	   			text-align: left;
			}
		}
	
		.campaign-statistics {
			margin-top: 10px;
			border: 1px solid #ccc;
			background-color: #fff;
			flex-wrap: wrap;
			&__text {
				width: 100%;
				padding: 10px;
				dl {
					dt {
						&:after {
						}
					}
					dd {
					}
				}
			}
			
			&__bar {
				width: 100%;
				display: block;
				padding: 0 10px 10px 10px;
				progressBar {
				height:50px;
				}
				.goobi-progress-bar-wrapper {					
					.goobi-progress-bar {
						&__bar {
						}
					}
				}
			}
		}
	}
}