# Build output
/bin/
/build/
/target/
/deploy/

# Dependencies
/node_modules/

# Generated/minified files
*.min.*
/src/META-INF/resources/resources/css/styleguide/

# IDE & OS files
.DS_Store
**/.DS_Store
/.classpath
/.project
/.settings
/.tern-project

# Config files
/config_viewer.xml
/package-lock.json
