/* ==============================================================
   CMS Template "searchListAdvanced"
   style declarations for cms_template_02_searchListAdvanced.xhtml
   ==============================================================*/
/* TPL SEARCH LIST */
/* BLOCK */
.tpl-search-list-advanced {
    h1 {}
    .mx-clearfloats;
    /* ELEMENT */
    &__right {
    	position: relative;
    	float: left;
    	min-height: 600px;
    	padding-right: 15px;
    	padding-left: 15px;
    	transition: all .3s linear;
    }
    &__intro {
    	margin-bottom: 30px;
    }
	/* MODIFICATION */
}
/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}