/* ==============================================================
   Bookshelves
   style declarations for all bookshelf actions,
   ==============================================================*/
/* BOOKSHELF NAVIGATION */
/* BLOCK */
.bookshelf-navigation {
	/* ELEMENT */
	&__icons {
		&.no-padding {
			padding: 6px 0;
		}
		span {
			display: inline-block;
			float: left;
		}
	}
	&__icon-heart {
		width: 16px;
		height: 16px;
		margin-right: 3px;
		background-image: url("@{images}/icons/icon-bs-herz-blau_thin.svg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		&.added {
			background-image: url("@{images}/icons/icon-bs-herz-blau.svg");
		}
	}
	&__counter {
		height: 16px;
		line-height: 16px;
		padding: 0 4px 0 3px;
		font-size: 12px;
		text-align: center;
		color: @white;
		border-radius: 2px;
		background-color: @blue;
	}
	&__dropdown-wrapper {
		position: relative;
		
	}
	&__dropdown {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 300px;
		z-index: 999;
	}
	&__dropdown-list {
		max-height: 300px;
		overflow-y: auto;
		li {
			padding: 2px 5px;
			border-bottom: 1px solid @middlegray;
			&:last-child {
				border-bottom: none;
			}
		}
		h4 {
			margin: 0;
			padding: 5px;
			font-size: 1rem;
		}
	}
	&__dropdown-list-reset {
		border-top: 1px solid @middlegray;
		[data-bookshelf-type="reset"] {
			width: 100%;
			padding: 10px;
			text-align: left;
			color: @blue;
			background-image: url("@{images}/icons/icon-bs-remove.svg");
			background-repeat: no-repeat;
			background-position: 95% center;
			background-size: 4%;
		}
	}
	&__dropdown-list-image {
		height: 75px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	&__dropdown-list-remove {
		text-align: center;
		&.no-padding {
			padding: 5px 0;
		}
		[data-bookshelf-type="delete"] {
			width: 16px;
			height: 16px;
			background-size: 72%;
		}
	}
	&__dropdown-action {
		padding: 10px;
	}
}

/* ACTION BUTTONS */
[data-bookshelf-type="dropdown"] {
	padding: 6px 0;
}
[data-bookshelf-type="get"] {}
[data-bookshelf-type="add"] {
	background-image: url("@{images}/icons/icon-bs-herz-blau_thin.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 72%;
	&.white {
		background-image: url("@{images}/icons/icon-bs-herz-weiss_thin.svg");
	}
	&.added {
		background-image: url("@{images}/icons/icon-bs-herz-blau.svg");
		&.white {
			background-image: url("@{images}/icons/icon-bs-herz-weiss.svg");
		}	
	}
}
[data-bookshelf-type="delete"] {
	background-image: url("@{images}/icons/icon-bs-remove.svg");
	background-repeat: no-repeat;
	background-position: center center;
}
[data-bookshelf-type="reset"] {}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}