/* ==============================================================
   User Comments
   style declarations for viewImageComments.xhtml
   ==============================================================*/
#viewImageComments {
    margin-bottom: 1.3125rem;
    h3 {}
    a {}    
    // add comment
    .btn.comment-submit {
        float: right;
        margin: 0;
    }    
    // existing comments
    .comments-elem {
        float: left;
        width: 100%;
        .comments-gravatar {
            float: left;
            width: 10%;
            img {
                display: block;
                margin: 1rem auto;
                width: 50%;
            }
        }
        .comments-content {
            float: left;
            width: 90%;
            .comments-header {
                font-weight: bold;
                .comments-creator {}
                .comments-date {}
                .comments-last-change {
                    font-weight: normal;
                    font-style: italic;
                    font-size: 0.75rem;
                }
                .comments-delete-btn {
                    float: right;
                    .glyphicon {}
                }
            }
            .comments-comment {
                .comments-comment-text {}
                .comments-comment-edit {
                    display: none;
                    .form-group {
                        margin: 0;
                    }
                    input {}
                    .btn {
                        float: right;
                        margin: 0.4375rem 0 0 0.4375rem;
                    }
                }
                .comments-edit-comment-btn {
                    text-align: right;
                    .btn {
                        margin: 0.4375rem 0 0 0.4375rem;
                    }
                }
            }
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}