

.annotation {
	&__body {
		&__content_wrapper {
			display: none;
		}
		&__geomap {
			width: 400px;
			height: 150px;
			max-width: 100%;
		}
		&__htmltext {
			width: 400px;
			max-width: 100%;
			iframe {
				border: none;
			}
		}
		&__plaintext {
  			word-break: break-word;
		}
		&__dataset,
		&__authority {
			dt {
				min-width: 250px;
			}
		}
		&__dataset__data_list,
		&__authority__normdata_list {
			display: flex;
		}
	}
}

// NEEDS TO BE REWORKED
#campaignAnnotationsTable {
		.annotation__label {
			word-wrap: break-word;
			overflow: hidden;
		}
	 	.annotation__body__authority dd {
			padding: 0;
		}
		.annotation__body__authority__normdata_list {
			flex-wrap: wrap;
		}
}

