

.annotation {
	&__body {
		&__content_wrapper {
			display: none;
		}
		&__geomap {
			width: 150px;
			height: 250px
		}
		&__htmltext {
			width: 400px;
			height: 250px;
			iframe {
				width: 100%;
				height: 100%;
				border: none;
				background: @lightgray;
			}
		}
	}
}