

.annotation {
	&__body {
		&__content_wrapper {
			display: none;
		}
		&__geomap {
			width: 400px;
			height: 150px;
			max-width: 100%;
		}
		&__htmltext {
			width: 400px;
			max-width: 100%;
			iframe {
				border: none;
			}
		}
		&__plaintext {
			
		}
		&__authority {
			dt {
				float: left;
				width: 30%;
			}
		}
	}
}