/* ==============================================================
   Crowdsourcing 
   global style declarations for crowdsourcing_layout.xhtml
   ==============================================================*/
.crowdsourcing-campaigns-overview {
    display: flex;
    flex-direction: column;

    &__campaign {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 5px 0;
        border: 2px solid @middlegray;
        background: white;
        padding: 10px;

        > div {
            padding: 5px;
        }

        &__image {
            width: 25%;
            flex-shrink: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            img {
                max-width: 100%;
                // max-height: 300px;
            }
        }

        &__text {
            display: flex;
            width: 50%;
            flex-direction: column;
        }
		


        &__actions {
            width: 25%;
            display: flex;
			gap: 8px;
            flex-direction: column;
            margin-left: auto;
			margin-top: 5px;
            a {
                width: 100%;
            }
        }

        &__statistics { 
			margin-top: 10px;
            width: 100%;
            display: flex;
			flex-direction: column;
            &__message {
                padding: 10px;
                font-size: 1.8em;
            }
        }

        .campaign-statistics {
			&__item { 
				display: flex;
				gap: 5px;
				flex-wrap: wrap; 
			}
            &__text {
                dl {
                    grid-template-columns: 50% 50%;
                    dt {
                        &:after {
                        }
                    }
                    dd {
                    }
                }
            }

            &__bar {
                overflow: hidden;
                progressBar {
                }
                .goobi-progress-bar-wrapper {
                    background: #e9ecef;
                    .goobi-progress-bar {
                        display: flex;
                        flex-direction: row-reverse;
						height: 20px;
                        &__bar {
							height: 20px;
                            &.finished {
                                background-color: #28a745;
                            }
                            &.review {
                                background-color: #ffc107;
                            }
                        }
                    }
                }
            }
        }
    }
}
 
/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {
    .crowdsourcing-campaigns-overview__campaign__image {
        width: 100%;
    }
    .crowdsourcing-campaigns-overview__campaign__image img {
        max-width: 100%;
    }

    .campaign-statistics__bar .goobi-progress-bar-wrapper .goobi-progress-bar {
        display: flex;
        overflow: hidden;
    }
}
/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
    .crowdsourcing-campaigns-overview__campaign__text h2 {
        width: 100%;
    }
    .crowdsourcing-campaigns-overview__campaign__image {
        width: 100%;
    }
    .crowdsourcing-campaigns-overview__campaign__image img {
        max-width: 100%;
    }
    .crowdsourcing-campaigns-overview__campaign__actions {
        width: 100%;
    }
    .crowdsourcing-campaigns-overview__campaign__text {
        width: 100%;
    }
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
    .crowdsourcing-campaigns-overview__campaign .campaign-statistics__text dl {
        grid-template-columns: 80% 20%;
    }
}
