// Breadcrumbs
// 
// Styledeclarations for breadcrumbs.<br />
// <strong>File:</strong> src/META-INF/resources/resources/includes/breadcrumbs.xhtml
//
// Weight: 3
//
// Markup:
// <nav class="breadcrumbs">
//     <ul>
//     	<li class="breadcrumbs__starttext">
//     		<span>You are here:</span>
//     	</li>
//     	<li class="breadcrumbs__crumb">
//             <a href="#">
//                 A breadcrumb entry
//             </a>
//     	</li>
//     	<li class="breadcrumbs__crumb">
//             <a href="#">
//                 A breadcrumb entry
//             </a>
//     	</li>
// 		<li class="breadcrumbs__crumb">
//             <span>
//                 The last breadcrumb entry
//             </span>
//     	</li>
//     </ul>                    
// </nav>
//
// Styleguide Components.breadcrumbs
.breadcrumbs-wrapper {
    font-size: @fontSmall;
}
.breadcrumbs {
    ul {}
    li {
        display: inline-block;
    }
    a, span {
        display: inline-block;
        padding: 5px 5px 5px 10px;
    }
    a {}
    span {}
}
.breadcrumbs__starttext {
    a, span {
        padding: 5px 0;
    }
}
.breadcrumbs__starttext + li {
    a, span {
        padding-left: 5px;
    }
}
.breadcrumbs__crumb + li:before {
    content:"\203A";
    display: block;
    float: left;
    clear: left;
    padding: 5px 0;
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}