// Change Local
// 
// Styledeclarations for change local.<br />
// <strong>File:</strong> src/META-INF/resources/resources/components/changeLocal.xhtml
//
// Weight: 6
//
// Markup:
// <nav id="changeLocal" class="change-local clearfix">
// 	<ul>
// 		<li>
// 			<a href="#">DE</a>
// 		</li>
// 		<li>
// 			<a href="#">EN</a>
// 		</li>
// 		<li>
// 			<a href="#">ES</a>
// 		</li>
// 	</ul>
// </nav>
//
// Styleguide Components.change-local
.change-local {
	ul {}
	li {
		display: inline-block;
		float: left;
        margin: 0 0.4375rem 0 0;
	}
	a {
		display: block;
		&.activeLang {
			font-weight: bold;
		}
	}
	img {
		width: 1.6rem;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}