/* ==============================================================
   ePub
   style declarations for ePub.xhtml
   ==============================================================*/
/* EPUB */
/* BLOCK */
.e-pub {
	margin-bottom: 21px;
	margin-top: 25px;
	/* ELEMENT */
	h3 {}
	p {}
	&__items {
		.mx-grid(@width: 75px; @gap: 10px);
	}
	&__item {
		position: relative;
		padding: 5px;
		text-align: center;
		border: 1px solid @middlegray;
		background-color: @white;
	}   
	&__item-order-label {
		display: block;
		margin-top: 3px;
		padding: 1px 3px;
		color: @white;
		font-size: @fontSmall;
		border-radius: 5px;
		background-color: @blue;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
