// Numeric Paginator
// 
// Styledeclarations for the numeric paginators.<br />
// <strong>File:</strong> src/META-INF/resources/resources/components/simplePaginator.xhtml
//
// Weight: 2
//
// Markup:
// <nav class="numeric-paginator" role="navigation">
// 	<ul>
// 		<li class="numeric-paginator__navigate navigate_prev">
// 			<a href="#">
// 				<i class="fa fa-angle-left" aria-hidden="true"></i>
// 			</a>
// 		</li>
// 		<li>
// 			<a href="#">1</a>
// 		</li>
// 		<li>
// 			<a href="#">2</a>
// 		</li>
// 		<li class="numeric-paginator__dots">
// 			<a href="#">...</a>
// 		</li>
// 		<li>
// 			<a href="#">9</a>
// 		</li>
// 		<li>
// 			<a href="#">10</a>
// 		</li>
// 		<li class="numeric-paginator__navigate navigate_next">
// 			<a href="#">
// 				<i class="fa fa-angle-right" aria-hidden="true"></i>
// 			</a>
// 		</li>
// 	</ul>
// </nav>
//
// Styleguide Components.paginators.numeric
.numeric-paginator {
    margin: 15px 0;
	/* ELEMENT */
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	li {
		min-width: 32px;
		height: 32px;
		margin: 0 3px 5px 0;
		border: 1px solid @middlegray;
	}
	a, span {
		display: block;
		line-height: 30px;
		padding: 0 3px;
		text-align: center;
	}
	a {
		text-decoration: none;
		&:hover,
		&:active,
		&:focus {
			background-color: @lightgray;
		}
	}
	span {}
	&__active {
		a, span {
			font-weight: 700;
			background-color: @middlegray;
		}
	}
	&__dots {
		a, span {}
	}
	&__navigate {}
	/* MODIFICATION */
	li.numeric-paginator__dots {
		min-width: 0;
		border: none;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
	.numeric-paginator {
		/* ELEMENT */
		li {
			margin-right: -1px;
		}
		a, span {
			padding: 0 4px;
		}
		/* MODIFICATION */
		li.numeric-paginator__navigate {
			width: 50%;
			order: 1;			
		}
	}
}