/* ==============================================================
   User create Account
   style declarations for userCreateAccount.xhtml
   ==============================================================*/
#userCreateAccount {
    h2 {}
    #userCreateAccountForm {
        float: left;
        width: 100%;
        margin-bottom: 1.3125rem;
        .form-group {
            label {}
            input {}
        }
        p {
            float: left;
            width: 100%;
        }
        .btn {
            float: right;
            margin: 0;
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}