/* ==============================================================
   User retrieve Account
   style declarations for userRetrieveAccount.xhtml
   ==============================================================*/
#userRetrieveAccount {
    h2 {}
    p {}
    #userRetrieveAccountForm {
        margin-bottom: 1.3125rem;
        .form-group {
            label {
                height: 1.75rem;
                line-height: 1.75rem;
                margin: 0 0.4375rem 0 0;
            }
            input {
                width: 15.625rem;
                height: 1.75rem;
                margin-right: 0.4375rem;
            }
        }
        .btn {
            margin: 0;
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}