/* ==============================================================
   User edit Data
   style declarations for userBackendEditData.xhtml
   ==============================================================*/
#editUserData {
    h2 {}
    p {}
    h3 {}
    #userEditDataForm {
        margin-bottom: 1.3125rem;
        .form-group {
            .control-label {}
            .form-control {}
            .btn {
                float: right;
                margin: 0 0 0 0.4375rem;
            }
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}