/* ==============================================================
   User Bookshelves
   style declarations for userBackendBookshelves.xhtml
   ==============================================================*/
#myBookshelves {
    h2 {}
    #user_bookshelf_data_table {
        thead {
            tr {
                th {
                    &:nth-child(1) {}
                    &:nth-child(2) {}
                    &:nth-child(3) {
                    	text-align: center;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                	&:nth-child(1) {}
                    &:nth-child(2) {}
                    &:nth-child(3) {
                    	text-align: center;
                    	a {
                    		display: inline-block;
							margin: 0 5px 0 0;                    		
                    		padding: 5px;
                    		color: @black;
                    		&:hover,
                    		&:focus,
                    		&:active {
                    			text-decoration: none;
                    			color: @black;
                    		}
                    	}
                    }
                }
            }
        }
    }
    .add-new-bookshelf-action {
        .btn {
            float: right;
            margin: 0 0 1.3125rem 0;
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}