/* ==============================================================
   Widget Search Result Navigation
   style declarations for widget_searchresultNavigation.xhtml
   ==============================================================*/
#widgetSearchResultNavigation {
    h3 {}
    .search-result-navigation-wrapp {
    	display: flex;
        .search-result-navigation-left,
        .search-result-navigation-center,
        .search-result-navigation-right {
            overflow: hidden;
        }
        .search-result-navigation-left,
        .search-result-navigation-right {
            &:hover {
            	svg {
            		background-color: @lightgray;
            	}
            }
        }
        .search-result-navigation-left {
            max-width: 20%;
            flex: 0 0 20%;
            text-align: left;
            a {}
            span {}
            svg {
            	width: 28px;
            	height: 28px;
            }
        }
        .search-result-navigation-center {
            max-width: 60%;
            flex: 0 0 60%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            span {}
        }
        .search-result-navigation-right {
            max-width: 20%;
            flex: 0 0 20%;
            text-align: right;
            a {}
            span {}
            svg {
            	width: 28px;
            	height: 28px;
            }
        }
    }
    .search-result-navigation-back-to-collection {
        padding: 0.4375rem 0 0 0;
        a {
            svg {
                margin: -0.1875rem 0.1875rem 0 0;
               	margin-right: 0.3rem;
            }
        }
        &:hover {
        	svg {
        		background-color: @lightgray;
        	}
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}