/* ==============================================================
   Widget Usage
   style declarations for widget_usage.xhtml
   ==============================================================*/
/* WIDGET USAGE */
.widget-usage {
	h3 {}
	h4 {}
	&__subtitle {
		margin-bottom: 10px;
	}
	/* LICENSE TEXT */
	&__license-text {
		margin-bottom: 15px;
		a {
			display: inline !important;
		}
	}
	/* DOWNLOADS */
	&__work-downloads,
	&__struct-downloads,
	&__page-downloads,
	&__image-fragment, 
	&__citelinks {
		margin-bottom: 15px;
		a {}
		.badge {
			padding-top: 0.3rem;
			line-height: 1.2rem; 
			display: inline-block;
			&:hover,  
			&:active,
			&:focus {
				background-color: @labelHoverGray;
			}
		}
	}
	/* WORK DOWNLOADS */
	&__work-downloads {
		a {}
		.badge {}
	}
	&__work-link-dfg-viewer {}
	&__work-link-opac {}
	&__work-download-lido-mets {}
	&__work-download-mets-anchor {}
	&__work-download-oai-marc {}
	&__work-download-oai-dc {}
	&__work-download-alto {}
	&__work-download-fulltext {}
	&__work-download-tei {}
	&__work-download-pdf {
		i {
			padding-right: 0.5rem;
		}
	}
	&__work-download-epub {}
	&__work-download-iiif {}
	/* STRUCTURE DOWNLOADS */
	&__struct-downloads {
		i {
			padding-right: 0.5rem;
		}
	}
	/* PAGE DOWNLOADS */
	&__page-downloads {
		display: flex;
		flex-wrap: wrap;
		a {}
		.badge {
			margin-right: 0.4rem;
			margin-bottom: 0.5rem;
		}
	}
	&__page-download-alto {}
	&__page-download-fulltext {}
	&__page-download-tei {}
	&__page-download-pdf {
		i {
			padding-right: 0.5rem;
		}
	}
	&__page-download-jpeg {
		border: none;
	}
	/*IMAGE FRAGMENT */
	&__image-fragment__wrapper {
		display: none;
	}
	&__image-fragment {
		
	}
	/* CITE LINKS */
	&__citelinks {}
	&__citelink-work {}
	&__citelink-page {}
	&__citerecommendation-dropdown {
		width: 100%;
		margin-bottom: 1.2rem;
	}
	&__citerecommendation-text-wrapper {
		display: flex;
		margin-bottom: 1.4rem;
		.fa-quote-right {
			color: @middlegray;
			font-size: 30px;
			padding-right: 1.7rem;
		}
	}
	&__citerecommendation-copy-text {
		cursor: pointer;
		color: @black;
		text-decoration: none;
		user-select: none;
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: @black;
		}
	}
	&__citerecommendation-text-info {
		width: 100%;
		font-size: 11px;
	}
}

/* MODIFICATION */
.widget .widget-usage__citerecommendation-copy-text {
	padding: 0;
	line-height: 1.4;
}

/* WIDGET USAGE DOWNLOAD IMAGES SIZES POPOVER */
#downloadImagePopover {
	fieldset {}
	label {
		padding-left: 1rem;
		margin-bottom: 0.2rem;
	}
	input[type="radio"]:checked + label {
		font-weight: normal;
	}
	.widget-usage {
		&__download-image-size-option-wrapper {
			display: flex;
		}
		&__download-image-size-input {
			flex: 0 0 auto;
			max-width: 20px;
			min-width: unset;
		}
		&__download-image-size-form {
			label {
				display: flex;
			}
		}
		&__download-image-size-radio-label {
		    flex: 0 0 auto;
		    min-width: 75px;
	    }
		&__download-image-size-radio-size {
		    flex: 0 0 auto;
		    min-width: 90px;
	    }
		&__download-image-size-radio-format {
		    flex: 0 0 auto;
		    text-transform: uppercase;
	    }
		&__download-image-size-button {
			margin: 0 auto;
			display: block;
			width: 80%;
			margin-top: 2rem;
		}
	}
}

@{RTL} {
	.widget-usage {
		&__page-download-pdf {
			i {
				padding-right: unset;
				padding-left: 0.5rem;
			}
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
	.widget-usage__download-image-size-radio-label {
		display: none;
	}
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}