/* ==============================================================
   Widget RelatedGroups
   style declarations for widget_RelatedGroups.xhtml
   ==============================================================*/

#widgetRelatedGroups {}

.widget-related-groups {
	&__list {
    	h3 {}
		ul {}
		li {}
		a {}
	}
	&__series {
    	h3 {
    		a {
	    		color: inherit;
				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
	    		}
    		}
		}
	}
	&__anchor {
    	h3 {
    		a {
	    		color: inherit;
				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
	    		}
    		}
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}