/* ==============================================================
   Widget geofacetting
   style declarations for widget_geoFacetting.xhtml
   ==============================================================*/

.widget-geofacetting {
	.icon--pad-bottom {
		padding-bottom: 3px;
	}
	padding: 0;
	z-index: 2;
	position: relative;

	&__actions {
		display: flex;
		margin-left: auto;
		align-items: center;
		
		.btn {}
	}
	
	&__action-overlay {
		position: absolute;
		width: 100%;
		height: 45px;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0);
		transition: background 0.2s ease;
		z-index: 1001;
		cursor: pointer;
		.widget-geofacetting__action-expand {
	    // Do not apply button styles in webkit browsers
	    // (this element has a type="button" attribute, 
	    // which makes webkit style it as a button, if not unset)
      	-webkit-appearance: unset;
			color: @white;
			&:hover {
				color: @white;
			}
		}
	}
	
	&__action-expand {
		opacity: 0;
		transition: all 0.2s ease;
		padding: 0;
		background: transparent;
		border: none;
		margin-left: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: inherit;
			background: none;
			}	
	}
	
	&__action-expand-hint {
		font-size: 1.5rem;
	}
	
	&__action-toggle-markers {
		margin-left: 0.8rem;
		padding: 0;
		border: none;
		background: none;
		color: @white;
		&:hover,
		&:focus,
		&:active,
		&:active:focus {
			color: @white;
		}
	}
	
	&__action-reset {
		display: none;
		color: inherit;
		margin-left: 0.8rem;
		font-size: 1.7rem;
		border: none;
		background: none;
		color: @white;
		&.active {
			display: block;
		}
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: inherit;
			background: none;
			color: @white;
		}
	}
	
	&__body {
		padding: 1.5rem;
		position: relative;
		&:hover {
			.widget-geofacetting__action-expand {
				opacity: 1;
			}
			.widget-geofacetting__action-overlay {
				background: rgba(0,0,0,0.75);
			}
			
		}
	}
	
	&__overlay {
		display: none;
		width: 100%;
		height: 100%;
		&__geo-map {
			width: 100%;
			height: 100%;
		}
		.ajax_loader {
			display: none;
			img { 
				width: 180px;
			}
		}
	}
	
	&__loader-wrapper {
		display: block;
		position: relative;
		z-index: 5000;
		left: 50%;
		top: 50%;
	}
	
	&__loader-animated-image {
		z-index: 5001;
		position: absolute;
		transform: translate(-50%, -50%);
	}
	
	.geo-map {
		min-height: 350px;
		.mapboxgl-popup-content {
		    padding: 20px 15px 10px 15px;
		}
		.leaflet-popup-content {
	    	max-width: 200px;
		}
		.leaflet-control-zoom  {
			a {
				padding: 0;
				display: block;
			}
		}
		.leaflet-control-container {
			.leaflet-top {
				a {					
				}
			}
			.leaflet-bottom {
				a {
					display: inline;
				}
			}
		}
	}
	
	&__overlay-buttons-wrapper {
		position: absolute;
		right: 15px;
		bottom: 35px;
		z-index: 401;
		padding: 2rem;
		background: rgba(0, 0, 0, 0.75);
	}
	
	&__overlay-reset-search {
		margin-right: 0.5rem;
	}
	
	&__overlay-submit-search {}
	
    /* CMS BACKEND WIDGET */
	h4 {
    	margin-bottom: 5px;
    }
	
    &__input {
    	.mx-clearfloats;
    	margin-bottom: 20px;
    	.row {
    		margin: 0;
    	}
    	.col-5,
    	.col-6,
    	.col-10 {
    		margin-bottom: 5px;
    		padding-right: 5px;
    		padding-left: 0;
    	}
    	textarea {
    		resize: vertical;
    	}
    }
	
    &__input-spacer {
    	margin: 10px 0;
    	width: 100%;
    	height: 1px;
    	background-color: @middlegray;
    }
	
    &__action {
    	position: relative;
    	z-index: 10;
    	.col-2 {
		    margin: -32px 0 0 -6px;
    		padding: 0 0 21px 0;
		    text-align: right;
		    border-bottom: 1px solid @middlegray;
    	}
    	a {
    		&:hover,
    		&:focus,
    		&:active {
    			text-decoration: none;
    		}
    	}
    }
	
    &__overlay-check {
    	.mx-clearfloats;
    	float: left;
    	width: 100%;
    	.checkbox {
    		margin: 0;
    	}
    }
}


// TOGGLE FOR MARKERS ON FULLSCREEN VIEW FOR GEO MAP FACETTING
.geo-map__toggle-markers {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	padding: 0;
	border: 2px solid rgba(0,0,0,0.2);
	.fa-map-marker {
		color: #464646;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background-color: #fff;
		font-size: 1.8rem;
	}
	&:hover,
	&:focus,
	&:active,
	&:active:focus  {
		.fa-map-marker {
			background-color: #f4f4f4;
			color: #464646;
		}
	}
	&:focus {
		.fa-map-marker {
			background-color: #fff;
			color: #464646;
		}
	}
}

.overlay__geomap {
	width: 100%;
	height: 100%;
	.geo-map {
		width: 100%;
		height: 100%;
		&__wrapper {
			width: 100%;
			height: 100%;
		}
		&__buttons-wrapper {
			position: absolute;
			right: 20px;
			bottom: 40px;
			z-index: 401;
		}
		&__reset-search {
			margin-right: 0.5rem;
		}
		&__submit-search {
		}
	}

	.geocoder {
		position: absolute;
		right: 30px;
		top: 30px;
		z-index: 401;
	}
	.mapboxgl-ctrl-geocoder--input {
		&:focus {
			outline: none;
		}
	}
	
}

@{RTL}  {
	.widget-geofacetting {
		&__actions {
			margin-left: unset;
			margin-right: auto;
		}
		&__action-reset, 
		&__action-toggle-markers {
			margin-left: 0;
			margin-right: 0.8rem;
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
	.widget-geofacetting {
		&__action-expand {
			opacity: 1;
		}
		&__action-overlay {
			background: rgba(0,0,0,0.75);
		}
	}
	.overlay__geomap {
		.geo-map {
			&__wrapper {
				.mapboxgl-ctrl-geocoder {
					min-width: 150px;
				}
			}
		}
		.mapboxgl-ctrl-geocoder--input {
			font-size: 1.2rem;
		}
	}
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
