/* ==============================================================
   Widgets
   style declarations for sidebar widgets
   ==============================================================*/
/* WIDGETS */
/* BLOcK */
.widget {
	margin-bottom: 20px;
	width: 100%;

	&__topbar {
		padding: 0.7rem 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		min-height: 35px;
		&__icons-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 5px;
		}

		&.collapseable {
			cursor: pointer;
			pointer-events: all;
			.fa {
				font-size: @fontNormal;
				display: inline-block;
			}

			&.in {
				.fa-angle-down {
					transform: rotate(-180deg);
				}
			}
		}

	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
	}

	&__body {
		padding: 1rem 1.5rem;
		word-break: break-word;

		&.collapseable {
			display: none;
		}

		a {
			display: block;
			padding: 0.5rem 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			&.unpublished {
				a {
					font-style: italic;
					opacity: 0.5;
				}
			}
		}

		dl {
			margin: 0;
		}

		dd {
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&__description-text {
		margin-bottom: 10px;

		a {
			display: inline;
		}

	}

	&__badge-container {
		margin-bottom: 18px;
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		align-items: flex-start;

		&:last-child,
		&:nth-last-child(2)+.widget__badge-container {
			margin-bottom: 5px;
		}

		.badge {
			padding: 0.5rem 0.7rem;
			display: inline-flex;
			border: none;
			align-items: center;
			gap: 4px;
		}
	}

	&__badge-container-heading {
		margin-bottom: 0px;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

// HIDE ARROW FOR COLLAPSEABLE WIDGETS
.widget-citation__topbar, 
.widget-downloads__topbar,
.widget-format-links__topbar {
	pointer-events: none;
	.fa {
		display: none;
	}
}




@{RTL} .widget {
	&__title {
		.fa {
			margin-left: unset;
			margin-right: auto;
		}
	}
}

.widget-admin {
	background-color: @adminBackend-bg;
	color: @white;

	&__topbar {}

	&__title {
		padding: .7rem 1.5rem;
		margin-bottom: 1rem;
	}

	&__body {
		padding: 1rem 1.5rem;

		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}