/* ==============================================================
   Widget Convolutes
   style declarations for widget_convolutes.xhtml
   ==============================================================*/
	.widget-convolutes {
		margin-bottom: 0;
		&__series {
			margin-bottom: 20px;
	    	h3 {
	    		background-color: transparent;
	    	}
			ul {

			a {

				&:hover,
				&:focus,
				&:active {}
			} 
		    }
		   }
		   
		&__list {
			margin-bottom: 20px; 
	    	h3 {} 
			a {
				&:hover,
				&:focus,
				&:active {}
			ul {}
			}
		}
		
			&__anchor {
				margin-bottom: 20px;
	    	h3 {
	    		background-color: transparent;
	    	}
			ul {
			a {}
			} 
		    }
}
/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}