/* ==============================================================
   Widget Chronology
   style declarations for widget_chronology.xhtml
   ==============================================================*/
/* WIDGET CHRONOLOGY */
/* BLOCK */ 
// No padding for geomap widget
.widget.widget-geofacetting {
	padding: 0;
	z-index: 2;
}

.widget-geofacetting {
	position: relative;
	h3 {
		display: flex;
		justify-content: space-between;
		padding: 2rem 2rem 0 2rem;
	}
	&__expand {
		color: inherit;
		padding: 0;
		background: transparent;
		border: none;
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: inherit;
			background: none;
			}	
	}
	&__overlay {
		display: none;
		&__geo-map {
			width: 100%;
			height: 100%;
		}
	}
	.geo-map {
		min-height: 350px;
		.mapboxgl-popup-content {
		    padding: 20px 15px 10px 15px;
		}
		.leaflet-popup-content {
	    	max-width: 200px;
		}
		.leaflet-control-zoom  {
			a {
				padding: 0;
				display: block;
			}
		}
		.leaflet-control-container {
			.leaflet-top {
				a {					
				}
			}
			.leaflet-bottom {
				a {
					display: inline;
				}
			}
		}
	}
    /* CMS BACKEND WIDGET */
	h5 {
    	margin-bottom: 5px;
    }
    &__input {
    	.mx-clearfloats;
    	margin-bottom: 20px;
    	.row {
    		margin: 0;
    	}
    	.col-5,
    	.col-6,
    	.col-10 {
    		margin-bottom: 5px;
    		padding-right: 5px;
    		padding-left: 0;
    	}
    	textarea {
    		resize: vertical;
    	}
    }
    &__input-spacer {
    	margin: 10px 0;
    	width: 100%;
    	height: 1px;
    	background-color: @middlegray;
    }
    &__action {
    	position: relative;
    	z-index: 10;
    	.col-2 {
		    margin: -32px 0 0 -6px;
    		padding: 0 0 21px 0;
		    text-align: right;
		    border-bottom: 1px solid @middlegray;
    	}
    	a {
    		&:hover,
    		&:focus,
    		&:active {
    			text-decoration: none;
    		}
    	}
    }
    &__overlay-check {
    	.mx-clearfloats;
    	float: left;
    	width: 100%;
    	.checkbox {
    		margin: 0;
    	}
    }
}

.overlay__geomap {
	width: 100%;
	height: 100%;
	.geo-map {
		width: 100%;
		height: 100%;
		&__wrapper {
			width: 100%;
			height: 100%;
		}
		&__buttons-wrapper {
			position: absolute;
			right: 20px;
			bottom: 40px;
			z-index: 401;
		}
		&__reset-search {
			margin-right: 0.5rem;
		}
		&__submit-search {
		}
	}

	.geocoder {
		position: absolute;
		right: 30px;
		top: 30px;
		z-index: 401;
	}
	.mapboxgl-ctrl-geocoder--input {
		&:focus {
			outline: none;
		}
	}
	
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}