/* ==============================================================
   Widget RSS
   style declarations for rssFeed.xhtml
   ==============================================================*/
.widget-rss {
	.widget-title {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	&__rss-link {
		.fa {
			width: 16px;
			height: 16px;
			line-height: 16px;
			font-size: @fontMedium;
			text-align: center;
			color: @white;
			background-color: @orange;
		}
	}
	&__entry-info {
		margin-bottom: 12px;
	}
	&__entry-link {
		font-weight: 400;
	}
}


/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}