/* ==============================================================
   Widget Custom
   style declarations for widget_custom.xhtml
   ==============================================================*/
   
.widget-custom {
	&__title {
		width: 100%;
		
		button {
			color: @white;
			font-weight: 700;
			&:hover {
				color: @white;
			}
		}
	}
	
	a {
		display: inline;
	}

	img {
		height: auto;
		max-width: 100%;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}