/* ==============================================================
   Widget User Interactions
   style declarations for widget_userInteractions.xhtml
   ==============================================================*/
/* WIDGET USER INTERACTIONS */
#widgetUserInteractions {
	background: @adminBackend-bg;
	.modal-title {
		color: @black;
	}
	h2, h3 {
		color: @white;
		font-weight: 700;
		margin-bottom: 1rem;
		font-family: @fontBackend;
	}
	h2 {
		background: transparent;
		font-weight: 700;
		font-size: 2.2rem;
		border: none;
		text-transform: none;
	}
	h3 {}
	ul {
		background: @adminBackend-bg;
		border: none;
		margin-bottom: 2rem;
		list-style: none;
		padding: 0;
	li {
		a {
			padding: 0.3rem 0;
			color: @white;
			&:hover,
			&:focus,
			&:active {
				color: @white;
			}
		}
		&:first-of-type {
			a {
	    		padding-top: 0;
			}
		}
	}
	&:last-of-type {}
	}
	.widget-user-interactions__delete-record-wrapper {
		margin-bottom: 0;
	}
}

.widget-user-interactions {
	font-family: @fontBackend;
	padding: 2rem;
	background-color: @adminBackend-bg;
	&__info-text {
		font-size: 1.2rem;
		font-style: italic;
		margin-bottom: 1rem;
		color: @white;
	}
	&__delete-record {}
	&__delete-record-message {
		padding: 1.5rem;
		padding-top: 5px;
		border-top: 0;
		span {
			display: inline-block;
			padding: 10px;
			font-size: @fontMedium;
			line-height: 1.4rem;
			color: @black;
			border: 1px solid @validWarning;
			background-color: @btnWarningBgc;
		}
	}
	&__delete-record-action,
	&__clear-cache-action {
		.btn {
			display: block;
			padding: 8px 12px;
			color: #555;
		}
		padding: 5px 0 10px 0;
		&.has-no-urn {
			padding-top: 0;
			.btn {
				text-align: left;
				display: block;
			}
			a {
				padding-top: 0;
			}
		}
		&.has-urn {
			.btn {
				width: 100%;
				display: block;
			}			
		}
	}
	.custom-control--select {
		font-size: 1.3rem;
	}
}

@{RTL} {
	.widget-user-interactions {
		&__delete-record-action {
			&.has-no-urn {
				.btn {
					text-align: right;
				}
			}
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}