/* ==============================================================
   Widget Search Result Navigation
   style declarations for widget_searchresultNavigation.xhtml
   ==============================================================*/
.widget-search-result-navigation {
	&__topbar {}
	&__title {}
	&__body {}
	&__wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}
	&__left,
	&__center,
	&__right {
		overflow: hidden;
		&:hover {
			svg {
				background-color: @lightgray;
			}
		}
	}
	&__left,
	&__right {
		overflow: visible;
	}
	&__left {
		max-width: 20%;
		flex: 0 0 20%;
		text-align: left;
		svg {
			width: 28px;
			height: 28px;
		}
	}
	&__center {
		max-width: 60%;
		flex: 0 0 60%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	&__right {
		max-width: 20%;
		flex: 0 0 20%;
		text-align: right;
		svg {
			width: 28px;
			height: 28px;
		}
	}
	&__back-to-collection {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 0.4375rem 0 0 0;
		a {
			svg {
				margin: -0.1875rem 0.1875rem 0 0;
				margin-right: 0.3rem;
			}
		}
		&:hover {
			svg {
				background-color: @lightgray;
			}
		}
	}
	
}


@{RTL} .widget-search-result-navigation {
	&__back-to-collection {
		a {
		    svg {
		       	margin-right: unset;
		       	margin-left: 0.3rem;
		       	transform: rotate(180deg);
			}
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}