/* ==============================================================
   Widget Annotations (User generated Content)
   style declarations for widget_annotations.xhtml
   ==============================================================*/
#widgetAnnotations {
    margin-top: 30px;
    h3 {}
    ul {
    	padding: 0;
    	border: none;
        li {
            .dl-horizontal {
            	border: none;
            	padding: 0;
                margin: 0;
                background: transparent;
                dt {
                    width: 1.875rem;
                    text-align: left;
                    font-weight: normal;
                }
                dd {
                    margin-left: 1.875rem;                    
                }
            }
        }
    }
    #user_generated_content_nav .ugc-highlight {
        background: @middlegray;
    }
}

.widget-annotations {
	&__entry {
		display: flex;
		margin-bottom: 0.6rem;
	}
	&__text {}
	&__page {
		margin-right: 1rem;
		span {
			background: #343a40;
			color: @white;
			padding: 0.4rem 0.6rem;
			display: block;
			white-space: nowrap;
		}
	}
}


/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
