/* ==============================================================
   Widget Calendar
   style declarations for widget_calendar.xhtml
   ==============================================================*/
.widget-calendar {
    overflow: hidden;

    &__body {
        padding: 0;

        .flatpickr-calendar {
            width: 100%;
            max-width: 100%;
            box-shadow: none;
            border: 0;
            border-radius: 0;
            top: 0;
        }

        .flatpickr-innerContainer {
            width: 100%;
        }

        .flatpickr-rContainer {
            width: 100%;
        }

        .flatpickr-days {
            width: 100%;
        }

        .dayContainer {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
}
