<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<Console name="stdout">
			<PatternLayout
				pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
		</Console>
		<RollingFile name="rolling" fileName="/opt/digiverso/logs/viewer.log" filePattern="/opt/digiverso/logs/viewer.log%d{yyyy-MM-dd}..gz">
			<PatternLayout
				pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
			<SizeBasedTriggeringPolicy size="20 MB" />
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Logger name="de.intranda" level="TRACE" additivity="true" />
		<Logger name="org.goobi.viewer" level="DEBUG" additivity="true" />
		<Logger name="com.ocpsoft" level="ERROR" additivity="true" />
		<Logger name="ro.isdc.wro" level="ERROR" additivity="true" />
		<Logger name="de.unigoettingen" level="DEBUG" additivity="true" />
		<Logger
			name="de.unigoettingen.sub.commons.contentlib.imagelib"
			level="INFO" additivity="true" />
		<Logger name="de.unigoettingen.sub.commons.contentlib.pdflib"
			level="INFO" additivity="true" />
		<Logger
			name="de.unigoettingen.sub.commons.contentlib.servlet.controller.ContentServer"
			level="ERROR" additivity="true" />
		<Logger
			name="de.unigoettingen.sub.commons.contentlib.servlet.controller.GetErrorReportAction"
			level="ERROR" additivity="true" />
		<Logger
			name="de.unigoettingen.sub.commons.contentlib.servlet.controller.GetImageAction"
			level="INFO" additivity="true" />
		<Logger
			name="de.unigoettingen.sub.commons.contentlib.servlet.controller.GetPdfAction"
			level="DEBUG" additivity="true" />
		<Logger
			name="de.unigoettingen.sub.commons.contentlib.servlet.controller.JspOnlyAction"
			level="ERROR" additivity="true" />
		<Logger
			name="de.unigoettingen.sub.commons.contentlib.servlet.model.ContentServerConfig"
			level="ERROR" additivity="true" />
		<Logger name="httpclient" level="ERROR" additivity="true" />
		<Logger name="java.net.SocketOutputStream" level="ERROR"
			additivity="true" />
		<Logger name="net.sf.ehcache" level="ERROR" additivity="true" />
		<Logger name="org.apache" level="ERROR" additivity="true" />
		<Logger name="org.jboss.weld" level="WARN" additivity="true" />
		<Logger name="ugh" level="ERROR" additivity="true" />
		<Root level="info">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="rolling" />
		</Root>
	</Loggers>

</Configuration>