/* ==============================================================
   View archives tree
   style declarations for archivestree.xhtml
   ==============================================================*/

/* EAD TREE */
.archives-tree {
		font-size: 1.5rem;
		margin: 0;
		border: 1px solid #d5d5d5;
		background-color: #fff;
		padding: 2rem;
	&__inner {
		position: relative;
	}
	&__expand-minimize-all {
		display: flex;
		justify-content: flex-end;
		position: absolute;
		right: 0;
		a, button {
			color: inherit;
			&:last-child {
				margin-left: 0.7rem;
			}
			&:focus,
			&:hover,
			&:active {
				color: inherit;
			}
		}
	}
	&__entry {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		&:first-child {
			.archives-tree__list-expandable-title {
				max-width: calc(100% - 130px);
			}
		}
		&.child {
			margin-left: 25px;
			.archives-tree__metadata-box {
				margin-left: 0;
			}
			.archives-tree__expandable-icon {
				display: none;
			}
		}
	}
	&__list-expandable-title {
		&.-archives-search-hit {
			.archives-tree__record-link {
				color: #5BA2E5;
				}
			.fa-stack {
				color: green;
			}
			.fa-file-o {
				color: green;
			}
		}
		&.-archives-selected {
			.archives-tree__record-link {
			font-weight: 700;
			}
			.fa-stack {
				color: green;
			}
			.fa-file-o {
				color: green;
			}
		}
		position: relative;
		flex: 0 0 calc(~"100% - 25px");
		display: flex;
		.fa-stack {
			width: unset;
			height: unset;
			line-height: unset;
			margin-right: 1rem;
		}
		.fa-stack-text {
			font-size: 10px;
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center;
			line-height: inherit;
			padding-top: 4px;
		}
		.fa-file-o {
			font-size: 2rem;
		}
		.fa-caret-up,
		.fa-caret-down {
			font-size: 1.5rem;
			padding-left: 0.5rem;
		}
		a {
			color: #222;
		}
	}
	&__title {
		flex-grow: 1;
	}
	&__selected {
		position: absolute;
		margin-top: -120px;
	}
	&__active-title {
		font-weight: 700;
		&::after {
			content: "\f0d8";
			font-family: "FontAwesome";
			margin-right: -15px;
			display: inline-block;
			padding-left: 0.7rem;
		}
	}
	&__record-link {
		&.-recordHasImage { 
			&:after {
				content: "\f03e";
				font-family: "FontAwesome";
				display: inline;
				font-size: 14px;
				margin: unset;
				font-weight: 400;
				padding-left: 1.2rem;
			}
		}
		&.-recordHasImageAccessDenied {
			&:before {
			display: inline-block;
		  font: normal normal normal 14px/1 FontAwesome;
		    font-size: 14px;
		  font-size: inherit;
		  text-rendering: auto;
			content: "\f05e";
		  position: absolute;
		  // content: "/";
		  color: red;
		  font-weight: 700;
		  font-size: 1.7em;
		  right: -6px;
		  top: -6px;
		  opacity: 0.4;
		}
        &:after {
            opacity: 0.5;
            content: "\f03e";
            font-family: "FontAwesome";
            display: inline;
            font-size: 14px;
            margin: unset;
            font-weight: 400;
            padding-left: 1.2rem;
        }
		}
		&::after {
			content: "\f0d7";
			font-family: "FontAwesome";
			margin-right: -15px;
			display: inline-block;
			padding-left: 0.7rem;
		}
	}
	&__record-link-icon-wrapper-outer {
		margin-left: 6px;
	}
	&__record-link-icon-wrapper {

		position: relative; 
		display: inline-flex;
	    justify-content: center;
	    align-items: center;
	   //  margin-left: 10px;
	    // padding-left: 6px; 
	}
	&__record-link-icon-ban {
		position: absolute;
		  color: red;
		//  font-weight: 700;
		  font-size: 2em;
		  opacity: 0.4;
	}
	&__expandable-icon {
		width: 25px;
		a, button {
			color: inherit;
			&:hover,
			&:active,
			&:focus {
				color: inherit;
			}
		}
		.fa {
			font-size: 1.5rem;
			flex: 0 0 50px;
			max-width: 50px;
		}
		&.-expanded {
			.fa-plus-square-o {
				&::before {
					content: "\f147";
				}
			}
		}
	}
	&__loader {}
	&__entry-date {
		font-style: italic;
		font-size: 1.2rem;
	}
}

	.archives-tree__record-link,
	.archives-tree__active-title {
		&::after {
			display: none;
		}
	}

	.archives-tree__record-link.-recordHasImage {

	}
    
    .archives-tree__record-link.-recordHasImageAccessDenied {

    }

// ajax loading indicator for ead tree
#AJAXLoader.archives-tree__loader {
		position: fixed;
		width: 60px;
		height: 60px;
		border-radius: 15px;
		background-image: url("../../images/infinity_loader.svg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 80%;
		z-index: 500;
		bottom: 15px;
		left: 15px;
		top: unset;
		right: unset;
		background-color: rgba(0,0,0,0.75);
		opacity: 0;
		animation: fadeIn 0.15s ease-in 0.5s 1 forwards;
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
	.archives-tree {
		&__entry {
			&.parent {
				padding-left: 0 !important;
			}
			&.child {
				padding-left: 28px !important;
			}

		}
		&__metadata-box {
			grid-template-columns: 1fr;
		}
		&__metadata-box-fields-row {
			flex-direction: column;
		}
		&__metadata-box-field-name {
			flex: 0 0 2rem;
		}
		&__expand-minimize-all {
			display: none;
		}
	}
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
