/* ==============================================================
   Styling for popovers
   ==============================================================*/

popover {
	display: none;
}
.popover popover {
	display: block;
}

.popover {
	z-index: 2020;
	.popover-title-custom {
		padding: 8px 14px;
		margin: 0;
		font-size: 14px;
		background-color: #f7f7f7;
		border-bottom: 1px solid #ebebeb;
		border-radius: 5px 5px 0 0;
	}
	.popover-content {
	}
}

popup {
	position: absolute;
	border: 1px solid black;
	background-color: @statBackgroundColor;
	padding: 5px;
	display: none;
}