/* ==============================================================
   Resets for CSS Libs
   ==============================================================*/
 /* BOOTSTRAP */

/* .modal-open .modal {
    overflow-y: hidden;
} */



.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

pre {
	font-size: 1.3rem;
	line-height: 1.42857143;
}

.tooltip {
	font-size: 1.2rem;
}

button:focus {
	outline: 0;
}

.modal-backdrop {
    z-index: 4000;
}

.badge-success {
	background-color: @badge-success;
	@badge-success: #008a00;
}
.badge-info {
	background-color: @badge-info;
	@badge-info: #008295;
}
 
.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
}
.nav-tabs {
	& > li > a:hover {
		border-color: @middlegray @middlegray @middlegray;
		background-color: @white;
	}
	li {
		a {
			display: inline-block;
			padding: 1rem 1.5rem;
			border: 1px solid @middlegray;
			background-color: @lightgray;
			border-radius: 0;
			border-color: @middlegray;
			margin-right: 0.2rem;
		}
		span {
			display: block;
			position: relative;
			line-height: 1.42857;
			margin-right: 2px;
			padding: 10px 15px;
			border: 1px solid transparent;
			border-bottom: none;
			border-radius: 0;
		}
		&.active {
			a {
				border-color: @middlegray;
				border-bottom: 1px solid @white;
				background-color: @white;
			}
		}
	}
}
.tab-content {
	background-color: @white;
}
.tab-pane {
	padding: 10px;
	border-right: 1px solid @middlegray;
	border-bottom: 1px solid @middlegray;
	border-left: 1px solid @middlegray;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    &:focus {
        border-color: @blue;
        box-shadow: none;
        outline: none;
    }
}
/*
.form-horizontal {
    .form-group {
        label {
            padding-left: 0.9375rem;
            text-align: left;
        }
        .form-control {}
        .btn {}
    }
}
*/

.popover-content {
	color: @black;
}
.table > tbody > tr > td {
	word-break: break-word;
}
/* LABELS */
.label-default {
	background-color: @labelGray;
}
/* BS GRID RESETS */
.row {
	&.no-margin {
		margin: 0;
	}
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	&.no-padding { 
		padding:0;	
	}
}
.no-gutters {
	margin-right: 0;
	margin-left: 0; 
	> [class*="col-"] { 
		padding-right : 0;
		padding-left: 0;
	}
}

.tooltip {
	z-index: 2011;
}

a {
	&.badge-dark:focus,
	&.badge-dark.focus {
		box-shadow: none;
	}
	&.badge {
		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
}
.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1;
color: #555;
text-align: center;
background-color: #eee;
border: 1px solid #ccc;
border-radius: 4px;
display: flex;
	&:last-child {
		border-left: 0;
	}
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.hidden {
    display: none !important;
}

[role=button] {
	cursor: pointer;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* CHROME RESETS */
button {
	border-radius: 0;
}
*:focus {
	outline: none;
}