/* ==============================================================
   CMS Page
   ==============================================================*/
/* CMS PAGE */
.cms-page {
	&__edit-page {
		margin-bottom: 15px;
		text-align: right;
	}
}

@{RTL} {
	.cms-page {
		&__edit-page {
			.fa {
				margin-left: 0.5rem;
			}
		}
	}
}

// BREAKPOINT FOR LARGE DESKTOPS
@media screen and (max-width: @largeBreakpoint) {}

// BREAKPOINT FOR DESKTOPS
@media screen and (max-width: @mediumBreakpoint) {}

// BREAKPOINT FOR TABLETS
@media screen and (max-width: @smallBreakpoint) {}

// BREAKPOINT FOR SMARTPHONES
@media screen and (max-width: @xSmallBreakpoint) {}