/* ==============================================================
   Widget Convolutes
   style declarations for widget_convolutes.xhtml
   ==============================================================*/
#widgetConvolutes {
	ul {
		padding: 0; 
		a{
		color: @white;
		padding: 0;
			&:hover,
    		&:active,
    		&:focus {
				text-decoration: none;
			}
		}
	}
}

.widget-convolutes {
    &__series {}
    &__anchor {}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}