/* ==============================================================
   CMS Module Options
   ==============================================================*/
/* OPTIONS */
.cms-module {
	&__option {
	    margin-bottom: 15px;
	    padding: 15px;
	    border: 1px solid @middlegray;
	    background-color: @white;
	    h4 {}
	}	
	/* OPTION GROUP */
	&__option-group {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    margin-bottom: 10px;
	    &:last-child {
	    	margin: 0;
	    }
	}	
	&__option-label {
		flex-basis: 20%;
	    padding-top: 7px;
	    word-break: break-word;
	    &--fullwidth {
	    	flex-basis: 100%;
	    	& + .cms-module__option-control {
	    		flex-basis: 95%;
	    		padding-left: 0;
	    	}
	    }
	}	
	&__option-control {
		position: relative;
		flex-basis: 75%;
		padding-left: 10px;
	    &.in {
	    	input,
	    	.custom-control--select,
	    	.cms-module__option-control-checkbox,
	    	.admin-cms-media__file,
	    	.mce-tinymce {
	    		outline: 1px solid @green;
				outline-offset: 2px;
	    	}
	    	input[type="checkbox"] + .cms-module__option-control-helptext {
	    		display: inline;
	    		padding: 0;
	    		padding-left: 5px;
	    	}
	    }
	    textarea {
	    	min-height: 68px;
	    	resize: vertical;
	    }
	}
	&__option-message {
		position: absolute;
	    top: 1px;
	    right: 1px;
	    height: calc(~"100% - 2px");
	    text-align: right;
	    background-color: @white;
	    &.success {
	    	color: @btnSuccess;
	    	border-color: @btnSuccessBorder;
	    	background-color: @btnSuccessBgc;
	    }
	    &.warning {
	    	color: @btnWarning;
	    	border-color: @btnWarningBorder;
	    	background-color: @btnWarningBgc;	    	
	    }
	    &.danger {
	    	color: @btnDanger;
	    	border-color: @btnDangerBorder;
	    	background-color: @btnDangerBgc;
	    }
		ul {
			.mx-list-reset;
		}
		li {
			position: relative;
			width: 100%;
			margin-top: 1px;
			padding: 3px 15px;
			border-radius: 15px;
			border: 1px solid;
		}
	}
	&__option-control-checkbox {
		display: inline-block;
		padding: 7px 0;
		border: 1px solid transparent;
	}
	&__option-dropdown {
		position: relative;
		width: 100%;
	    height: 34px;
	    font-size: 1rem;
	    color: @black;
		border: 1px solid @middlegray;
	    background-color: @white;
	    &.in {
	    	border-color: @green;
	    }
		&-trigger {
			position: relative;
			height: 32px;
			padding: 5px 12px;
			padding-right: 30px;
			overflow: hidden;
			cursor: pointer;
			&:after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				right: 10px;
				width: 0;
				height: 0;
				margin-top: -.15rem;
				pointer-events: none;
				border-top: .35rem solid @black;
				border-right: .35rem solid transparent;
				border-bottom: .35rem solid transparent;
				border-left: .35rem solid transparent;
			}
		}
		ul {
			display: none;
			.mx-list-reset;
			position: absolute;
			top: 32px;
			left: -1px;
			width: calc(~"100% + 2px");
			max-height: 200px;
			padding: 5px 12px;
			border: 1px solid @middlegray;
			border-top-color: @white;
			background-color: @white;
			overflow-y: auto;
			z-index: 2000;
		}
		input[type="checkbox"] {
			position: relative;
			top: -1px;
			margin: 0 10px 0 0;
		}
		label {
			margin: 0;
			font-weight: normal;
			cursor: pointer;
		}
	}
	&__option-selected {
		padding: 5px 0;
	}
	&__option-control-helptext {
	    display: none;
	    padding-top: 5px;
	    color: @green;
	    &.in {
	    	display: inline-block;
	    }
	    &.static {
	    	display: inline;
	    	font-size: 0.75rem;
	    	font-style: italic;
	    	color: @inlineStatic;
	    }
	}
	&__option-help {
		flex-basis: 5%;
		button {
			display: block;
			width: 100%;
		    padding: 7px 0;
		    text-align: right;
		    &.in {
		    	color: @green;
		    }
		}
		&.static {
	    	display: none;
	    }
	}
	&__option-action {
		text-align: right;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
	.cms-module {
		&__option-label {}
		&__option-control {
			flex-basis: 70%;
		}
		&__option-help {
			flex-basis: 10%;
		}
		&__option-action {
			padding-right: 10%;
		}
	}
}