/* ==============================================================
   CMS Module Tables
   ==============================================================*/
/* TABLES */
.cms-module {
	&__table {
		width: 100%;
	    max-width: 100%;
	    & > thead > tr > th,
	    & > tbody > tr > td,
	    & > tfoot > tr > th {
	    	padding: 8px;
	    }
	    & > thead > tr > th {
	    	min-width: 175px;
	    	border: 1px solid @neutralgray;
	    	border-top-color: @middlegray;
	    	border-bottom-color: @middlegray;
	    	vertical-align: bottom;
	    	background-color: @neutralgray;
	    }
	    & > tbody > tr > td {
	    	border: 1px solid @white;
	    	border-bottom-color: @neutralgray;
	    	vertical-align: top;
	    }
	    & > tbody > tr {
	    	&:nth-child(even) {
	    		background-color: @neutralgray;
	    	}
	    }
	}
}

// BREAKPOINT FOR LARGE DESKTOPS
@media screen and (max-width: @largeBreakpoint) {}

// BREAKPOINT FOR DESKTOPS
@media screen and (max-width: @mediumBreakpoint) {}

// BREAKPOINT FOR TABLETS
@media screen and (max-width: @smallBreakpoint) {}

// BREAKPOINT FOR SMARTPHONES
@media screen and (max-width: @xSmallBreakpoint) {}