/* ==============================================================
   Admin 
   global style declarations for admin_layout.xhtml
   ==============================================================*/
/* ADMIN LAYOUT */

.admin {
	.-bluelink {
		color: @blue;
		&:hover {
			color: @hoverblue;
			text-decoration: underline;
		}
		&:active {
			color: @activeblue;
		}
		&:focus {}
	}
	.-light {
		color: #a9a9a9;
		cursor: default;
	}
	.-redlink {
		color: @red;
		&:hover {
			color: @red;
		}
		&:active {
			color: @red;
		}
		&:focus {}
	}
	&__default-block {
		margin-bottom: 3rem;
		padding: 2rem;
		background-color: #fff;
		border: 1px solid @middlegray;
		&.-danger {
			border-top: 5px solid rgba(255, 2, 2, 0.3);
		}
		&.-warning {
			border-top: 5px solid rgba(243, 208, 70, 0.85);
		}		
	}
	&__entry-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&::after {
		    content: '';
		    flex: 0 0 calc(33.3333% - 2rem);
		    width: calc(33.3333% - 2rem);
		    max-width: calc(33.3333% - 2rem);
		}
	}
	&__boxed-entry {
		background: @white;
		padding: 2rem;
		padding-bottom: 3.5rem;
		margin-bottom: 2rem;
		transition: background 0.2s ease;
		border: 1px solid @middlegray;
		position: relative;
		&:hover {
			//background: @lightgray2;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			.admin__boxed-entry-actions {
				opacity: 1;
			}
			
		}
		&.-w33 {
			flex: 0 0 calc(33.3333% - 1.5rem);
			width: calc(33.3333% - 1.5rem);
			max-width: calc(33.3333% - 1.5rem);
		}
		&.-w50 {
			flex: 0 0 calc(50% - 1rem);
			width: calc(50% - 1rem);
			max-width: calc(50% - 1rem);
		}
		&-actions {
			transition: opacity 0.2s ease;
			opacity: 0;
			position: absolute;
			bottom: 1.5rem;
			left: 2rem;
			a {
				font-size: 1.4rem;
			}
			a:first-of-type {
				padding-right: 1.4rem;
			}
		}
	}
	&__title-bar {
		display: flex;
		align-items: center;
		padding: 15px;
	}
	&__title {
		margin: 0;
		padding: 0;
		font-size: 3.2rem;
		line-height: 1;
	}	
	&__title-bar-action {
		margin-left: 3rem;
		font-size: 1.4rem;
		padding: 0.4rem 0.8rem;
	}
	&__label-required-field {
		padding-left: 0.5rem;
		//color: @middlegray;
		font-size: 1.2rem;
	}
	&__user-table-tools {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__user-table-paginator {
		li {
			margin-right: 0.5rem;
			border: none;
		}
		a {
			background: transparent;
			font-size: 1.4rem;
		}
		span {
			font-size: 1.4rem;
		}
		.data-table-paginator__total-count {
			padding-right: 8px;
		}
		
	}
	&__user-table-filter {
		margin-bottom: 1rem;
		.input-group > .form-control {
			width: 250px;
		}
		.input-group-append {
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 1;
			color: #555;
			text-align: center;
			background-color: #eee;
			border: 1px solid #ccc;
			border-radius: 4px;
			display: flex;
			font-size: 1.6rem;
			padding: 0 1rem;
			align-items: center;
		}
	}
	&__user-table-content {
		background: @white;
		padding: 0 2rem 0rem 2rem;
	}
	&__user-table-title {
		margin-bottom: 0rem;
		font-weight: 700;
		border-bottom: 1px solid @gray;
		padding: 1rem 0;
	}
	&__user-table-sorting {
		margin-left: 2rem;
	}
	&__user-table-entry {
		transition: background 0.2s ease;
		padding: 0.5rem 2rem;
		margin-left: -2rem;
		margin-right: -2rem;
		&:hover {
		    background: @lightgray2;
		    .admin__user-table-edit-user {
		    	opacity: 1;
		    }
		}
	}
	&__user-table-img {
		padding: 1rem 0;
		max-width: 80px;
		img {
			max-width: 100%;
		}
	}
	&__user-table-data {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 2rem;
		align-items: start;
	}
	&__user-table-name {
		font-size: 1.8rem;
	}	
	&__user-table-edit-user {
		opacity: 0;
		transition: opacity 0.2s ease;
		font-size: 1.4rem;
	}
	&__user-table-email {
		font-style: italic;
		font-size: 1.4rem;
	}
	
	&__user-table-badges {
		margin-right: 0.5rem;
	}
	&__user-table-last-login {
		font-size: 1.4rem;
	}
	&__user-icon {
		margin-right: 1.5rem;
		width: 80px;
		padding: 4px;
	}
	&__group-content {
	}
	&__group-actions {
		opacity: 0;
		transition: opacity 0.2s ease;
	}
	&__group-description {
		margin-bottom: 3rem;
	}
	&__group-member-entry {
		transition: background 0.2s ease;
		padding: 0.4rem 0;
		&:hover {
			background: @lightgray2;
			.admin__group-member-delete-hint {
				opacity: 1;
			}
		}
	}
	&__group-member-delete {
		&:hover {
			text-decoration: none;
		}
	}
	&__group-member-delete-hint {
		transition: opacity 0.2s ease;
		opacity: 0;
	}
	&__group-member-name {
		color: #212529;
	}
	&__ip-range-actions {
		opacity: 0;
		transition: opacity 0.2s ease;
	}
	&__license-action {
		i {
			color: @white;
		}
		&:hover {
			text-decoration: none;
		}
	}
	&__license-badge {
		padding: 0.5rem;
	}
	&__license-functions-added {
		.admin__license-badge {
			background: #28a745;
			&:hover {
				background: lighten(#28a745, 6%);	
			}
		}
	}
	&__license-functions-available {
		.admin__license-badge {
			background: #343a40;
			&:hover {
				background: lighten(#343a40, 15%);	
			}
		}
	}	
}


.admin {
	/* TODO CLEANUP AND CONVERT INTO BOOTSTRAP */
	td label {
		padding-left: 0.5rem;
	}
	#avatar {
		td {
			width: 50%;
		}
	}
	
	&__form-label {}
	&__form-input {
		flex-grow: 1;
	}
	&__form-help-icon {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	&__form-checkbox {}
	&__form-help-text {
		display: none;
		margin-top: 0.4rem;
		font-size: @fontSmall;
	    font-style: italic;
	    color: @inlineStatic;
		&.in {
			display: inline-block;
		}
	}





	.mx-clearfloats;
	position: relative;
	button.btn {
		&:active, 
		&:focus, 
		&:active:focus {
			color: @black;
		}
	}
	&__sidebar,
	&__content {
		float: left;
	}
	/* SIDEBAR */
	&__sidebar-background,
	&__sidebar {
		width: 250px;		
		background-color: @blue; 
	}
	&__sidebar-background {  
		position: fixed;
		top: 0;
		bottom: -120px;
		z-index: 1;
	}
	&__sidebar {
		position: absolute;
		padding: 15px;
		font-size: @fontNormal;
		z-index: 1010;
		&.fixed-top,
		&.fixed-bottom {
			position: fixed;
		}
		&.fixed-top {
			top: 0;
		}
		&.fixed-bottom {
			bottom: 0;
		}
		a, button {
			color: @white;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				color: @white;
			}
		}
	}
	&__sidebar-inner {
		h1 {
			line-height: normal;
			margin: 0;
			margin-bottom: 30px;
			font-size: @fontLarge;
			color: @white;
			a {
				display: flex;
				align-items: center;
				max-width: 100%;
			}
			img {
				max-width: 30%;
				margin-right: 10px;
			}
		}
	}
	&__sidebar-logout {
		margin-right: -15px;
		margin-left: -15px;
		padding-top: 10px;
		padding-right: 15px;
		padding-left: 15px;
		border-top: 1px solid @white;
	}
	/* CONTENT */
	&__content-background,
	&__content {
		width: calc(~"100% - 250px");
		margin-left: 250px;
	}
	&__content {
		padding: 15px;
		position: absolute;
		&.fixed-top,
		&.fixed-bottom {
			position: fixed;
		}
		&.fixed-top {
			top: 0;
		}
		&.fixed-bottom {
			bottom: 0;
		}
	}
	&__content-background {
		background-color: @neutralgray2;
		position: fixed;
		top: 0;
		bottom: -120px;
		z-index: -1;
	}
	&__content-inner {
		min-height: calc(~"100vh - 30px");
/* 		background-color: @white; */
	}
	&__content-inner-title {
		margin: 0;
		padding: 15px 0 0 15px;
		font-size: 3.2rem;
/* 		background-color: @neutralgray; */
	}
	&__content-inner-title-exit {
		display: inline-block;
		float: right;
    	width: 32px;
    	height: 32px;
    	background-image: url("@{images}/icons/icon_fs-exit.svg");
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: 24px;
	}
	&__content-inner-content {
		padding: 15px;
		.row > form {
			width: 100%;
			display: flex;
		}
		&__form_title {
			display: flex;
			justify-content: space-between;
			margin-top: 3rem; 
			h3 {
				margin-top: 0;
			}
			.ajax_loader {
				display: none;
				img {
					height: 2.4rem;
				}
			}
		}
		h3 {
			font-size: 2.4rem;
			margin-bottom: 1rem;
		}
		&__description {
			display: block;
			margin-bottom: 1rem;
			font-size: 1.4rem;
			font-style: normal;
			color: #666;
		}
		&__input_form { 
			border: 1px solid #ddd;
			background: white;
			padding: 10px;
			display: grid;
			grid-row-gap: 10px;
			font-size: 1.4rem;
		}
		&__empty_form {
			
		}
		.tab-content {
			.admin__content-inner-content__input_form {
				border:none;
				padding: 0;
			}
		}
		&__controls {
			display: flex;
			justify-content: flex-end;
			.btn {
				margin-left: 10px;
			}
		}
		
		&__entity_list {
			.entity_list {
				&__item {
					border: 1px solid #ddd;
					background: white;
					display: flex;
					flex-direction: row;
					align-content: stretch;
					font-size: 1.4rem;
					margin-bottom: 20px;
					min-height: 200px;
					&__area {
						display: grid;
						grid-row-gap: 10px;
						flex-grow: 1;
						width: 100%;
						padding: 10px;
						&.area__right {
							padding: 0px;
						}
					}
					&__header {
						display: flex;
						justify-content: space-between;
						h3 {
							margin: 0;
						}
					}
					&__content {
						display: grid;
						grid-template-columns: auto 90%; 
						column-gap: 10px;
						row-gap: 10px;
					}
					&__controls {
						display: flex;
						justify-content: flex-end;
						align-items: flex-end;
						visibility: hidden;
						.btn {
							padding: 0 5px;
						}
					}
					&:hover {
						.entity_list__item__controls {
							visibility: visible;
						}
					}
				}
			}
		}
	}
	table {
		background-color: @white;
	}
}

.input_form {
	background: white;
	display: grid;
	grid-row-gap: 10px;
	font-size: 1.4rem;
	&__option_group {
		display: grid;
		grid-template-columns: 13% 1% 81% 6%;
		grid-row-gap: 5px;
	}
	&__option_label {
		label {
			height: auto;
		}
	}
	&__option_marker {
		visibility: hidden;
		&.in {
			visibility: visible;
		}
	}
	&__option_control {
		input[type="date"] {
			line-height: inherit;
		}
	}
	&__option_help {
		text-align: center;
	}
	&__option_control_helptext {
		display: none;
		font-size: 1.2rem;
		font-style: italic;
		grid-column-start: 3;
		color: #666;
		&.in {
			display: block;
		}
	} 
	&__actions {
		display: flex;
		justify-content: flex-end;
	}
	&__geomap {
		width: 100%;
		height: 400px;
	}
	&__option-message {
		position: relative;
		ul {
			.mx-list-reset;
		}
		li {
			padding: 0px 5px 1px 0;
		}
		& + .form-control {
			&.success {
		    	border-color: @validSuccess;
		    }
		    &.warning {
		    	border-color: @validWarning;	    	
		    }
		    &.danger {
		    	border-color: @validDanger;
		    }
		}
	}
	
	
	&__option-message-status {
	    &.success {
	    	color: @validSuccess;
	    }
	    &.warning {
	    	color: @validWarning;	    	
	    }
	    &.danger {
	    	color: @validDanger;
	    }		
	}
	&__option-message-mark {
		position: absolute;
		right: -8px;
		bottom: -8px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		font-size: @fontSmall;
		text-align: center;
		border-radius: 50%;
		color:white;
		&.success {
		    background-color: @validSuccess;
		    .fa-check {
		    	display: inline-block;
		    }
		}
		&.warning {
			background-color: @validWarning;
		    .fa-check {
		    	display: inline-block;
		    }
		}
		&.danger {
			background-color: @validDanger;
		    .fa-exclamation {
		    	display: inline-block;
		    }
		}
		.fa {
			display: none;
		}
	}
}


/* visual connection radio buttons test */

.connected::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 3px;
    height: 13px;
    top: 17px;
    left: 5px;
    display: block;
    z-index: 0;
}





/* USER TABLE FADE IN ANIMATION TEST */

.delay-animation(@items, @delay) {
  .loopingClass(0); // Start loop
  
  .loopingClass(@index) when (@index <= @items) {
    &:nth-of-type(@{index}) {
        animation-delay: unit((@index * @delay),s);
    }

    .loopingClass(@index + 1); // Increment loop
  }
}

/* 
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeinall {
  from { opacity: 0; }
  to { opacity: 1; }
}

.admin__user-table-content .admin__user-table-entry { 
	animation: fadeinall 0.3s ease-in 0s 1 forwards;
	opacity: 0;
}

.admin__boxed-entry { 
	animation: fadein 0.2s ease-in 0s 1 forwards;
	opacity: 0;
    .delay-animation(@numitems, @delay);
}

@numitems: 16;
@delay: 0.04;

*/

/* USER TABLE FADE IN ANIMATION TEST EOL */

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
