/* ==============================================================
	Global style declarations for Admin Backend
   ==============================================================*/

/* ADMIN BACKEND STYLING */
.admin__content-item {
	&-wrapper {}
	&-single {
		display: flex;
		width: 100%;
		// background: #f5f5f5;
		padding: 1rem;
	}
	&-heading {
		font-size: 25px;
		margin-bottom: 2rem;
	}
	&-header {
		display: flex;
	}
	&-single-inner {
		// display: flex;
		flex-grow: 1;
	}
	&-order-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50px;
	}
	&-options {
		margin-left: auto;
		display: flex;
		div {
			margin-right: 1rem;
		}
	}
	&-option-size {
		width: 50px;
		padding: 3px;
		border-radius: 2px;
		background: #eee;
	}
}



.content-items {

/* GENERAL LAYOUT FRONTEND */
	&__all-items-container {
		--content-item-h-gap: 2rem;
		--content-item-v-gap: 3.5rem;
		display: flex;
		flex-wrap: wrap;
		gap: var(--content-item-v-gap) var(--content-item-h-gap);
	}
	&__single-item {
		&.-width-100 {
			flex: 0 0 calc(~"100%");
			max-width: calc(~"100%");
		}
		&.-width-50 {
			flex: 0 0 calc(~"50% - var(--content-item-h-gap) / 2");
			max-width: calc(~"50% - var(--content-item-h-gap) / 2");
		}
	}
}


/* DIFFERENT CONTENT ITEMS LAYOUT FRONTEND */
.content-item {
	&__type-heading {
		h2 {
			margin: 0;
			line-height: 1.5;
		}
	}
	&__type-image {
		img {
			max-width: 100%;
		}
	}
	&__type-text {
		p {
			.iconFont(@line-height-base: 1.5);
			margin-bottom: 0;
		}
	}
	&__type-floating-text-image {
		img {
			float: left;
			width: 40%;
			margin-inline-end: 1rem;
			margin-bottom: 1rem;
			margin-top: 5px;
		}
	}
}



.iconFont(@line-height-base: 1.5){
	@line-height-target: (1 - @line-height-base);
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
//    margin-top: calc((1 - unit(@line-heightx, )) ~"* 0.5em");
    margin-top: calc( unit(@line-height-target, ) ~"* 0.5em");
  }
}




