/* ==============================================================
   Resets for CSS Libs
   ==============================================================*/
 /* BOOTSTRAP */

/* .modal-open .modal {
    overflow-y: hidden;
} */

a {
	color: @blue;
	&:hover {
		color: @hoverblue;
		text-decoration: underline;
	}
	&:active {
		color: @activeblue;
	}
	&:focus {}
}
button, .btn {
	color: @lowerblack;
	&:hover {
		color: @lowerblack;
		text-decoration: none;
	}
	&:active {
		color: @lowerblack;
	}
	&:focus {}
}

.nav-tabs li a:hover {
	text-decoration: none;
}

.modal {
    overflow-y: auto;
    z-index: 9999;
    width: 100vw;
}

.modal.fade .modal-dialog {
	transform: translate(0, 0);
}

.modal-open[style] {
    padding-right: 0px !important;
}

.modal-backdrop.show {
	opacity: 0.8;
}

.modal-backdrop {
    z-index: 4000;
}

@media screen and (min-width: 576px) {
	.modal-dialog {
		max-width: 550px;
	}
}

.modal-header {
	padding: 3rem 3rem 2rem 3rem;
	.fancy-close {
		position: relative;
		padding: 1.3rem;
		margin: 0;
		opacity: 0.75;
		align-self: start;
		background: transparent;
		margin: 0rem 0rem 0rem 1rem;
		&:hover {
			opacity: 1;
		}
	}
}

.modal-body {
    padding: 3rem 3rem 2rem 3rem;
}

.fancy-close {
	position: absolute;
	top: auto;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	border: 1px solid transparent;
	border-radius: 25%;
	font-size: 0;
	color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
	-webkit-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
	right: 0;
  &:hover {
    transition: all 150ms 100ms ease-in;
  }
  
  &:before, &:after {
    content: '';
    position: absolute;
    left: 50%; 
    top: 50%;
    display: block;
    background-color: @black;
    transition: all 150ms ease-in;
  }
  &:hover:before, &:hover:after {
    transition: all 150ms ease-out;
    transform: rotate(90deg);
  }
  &:before {
	width: 26px;
	height: 2px;
	margin: -1px auto auto -13px;
  }
  &:after {
	width: 2px;
	height: 26px;
	margin: -13px auto auto -1px;
  }
  
  &:hover:before {
    width: 12px;
    height: 2px;
    margin: -1px auto auto -6px;
  }
  &:hover:after {
    width: 2px;
    height: 12px;
    margin: -6px auto auto -1px;
  }
  
}


pre {
	font-size: 13px;
	line-height: 1.42857143;
}

.tooltip {
	font-size: 1.2rem;
}

button:focus {}

.badge {
	padding: .2em .6em .3em;
}

.badge-success {
	background-color: @badge-success;
	@badge-success: #008a00;
}
.badge-info {
	background-color: @badge-info;
	@badge-info: #008295;
}
 
.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
}
.nav-tabs {
	& > li > a:hover {
		border-color: @middlegray @middlegray @middlegray;
		background-color: @white;
	}
	li {
		a {
			display: inline-block;
			padding: 1rem 1.5rem;
			border: 1px solid @middlegray;
			background-color: @lightgray;
			border-radius: 0;
			border-color: @middlegray;
			margin-right: 0.2rem;
		}
		span {
			display: block;
			position: relative;
			line-height: 1.42857;
			margin-right: 2px;
			padding: 10px 15px;
			border: 1px solid transparent;
			border-bottom: none;
			border-radius: 0;
		}
		&.active {
			a {
				border-color: @middlegray;
				border-bottom: 1px solid @white;
				background-color: @white;
			}
		}
	}
}
.tab-content {
	background-color: @white;
}
.tab-pane {
	padding: 10px;
	border-right: 1px solid @middlegray;
	border-bottom: 1px solid @middlegray;
	border-left: 1px solid @middlegray;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    &:focus {
        border-color: @blue;
        box-shadow: none;
    }
}
/*
.form-horizontal {
    .form-group {
        label {
            padding-left: 0.9375rem;
            text-align: left;
        }
        .form-control {}
        .btn {}
    }
}
*/

.popover-content {
	color: @black;
}
.table > tbody > tr > td {
	word-break: break-word;
}
/* LABELS */
.label-default {
	background-color: @labelGray;
}
/* BS GRID RESETS */
.row {
	&.no-margin {
		margin: 0;
	}
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	&.no-padding { 
		padding:0;	
	}
}
.no-gutters {
	margin-right: 0;
	margin-left: 0; 
	> [class*="col-"] { 
		padding-right : 0;
		padding-left: 0;
	}
}

.tooltip {
	z-index: 3011;
}

a {
	&.badge-dark:focus,
	&.badge-dark.focus {
		box-shadow: none;
	}
	&.badge {
		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
}
.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1;
color: #555;
text-align: center;
background-color: #eee;
border: 1px solid #ccc;
border-radius: 4px;
display: flex;
	&:last-child {
		border-left: 0;
	}
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.hidden {
    display: none !important;
}

[role=button] {
	cursor: pointer;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* CHROME RESETS */
button {
	border-radius: 0;
}

/* add a focusring for better accessibility */
/* set to important, because of styles in bootstrap.custom.css */
*:focus, a:focus {
	outline: 1px dotted !important;
}

.-no-outline:focus, .-no-outline:active {
	outline: none !important;
}

.-active-border:focus, .-active-border:active {
	border: 1px solid #3365a9 !important;
}


