<?xml version="1.0" encoding="ASCII"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>intranda viewer</display-name>
	<!-- Application-internal listeners are registered via @WebListener annotations -->
	<listener>
		<listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/facelets.taglib.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
<!-- 	<context-param> -->
<!-- 		<param-name>com.sun.faces.expressionFactory</param-name> -->
<!-- 		<param-value>com.sun.el.ExpressionFactoryImpl</param-value> -->
<!-- 	</context-param> -->
	<context-param>
		<param-name>com.sun.faces.allowTextChildren</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>none</param-value>
	</context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/resources/themes/faces-config.xml, /WEB-INF/faces-config.xml</param-value>
    </context-param>
	<!-- All f:convertDateTime widgets will use the server's time zone for output. 
		Remove once the widgets are able to use the client's time zone. -->
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<filter>
		<filter-name>UrlRedirectFilter</filter-name>
		<filter-class>de.intranda.digiverso.presentation.filters.UrlRedirectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRedirectFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>Pretty Filter</filter-name>
		<filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Pretty Filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>HttpResponseFilter</filter-name>
		<filter-class>de.intranda.digiverso.presentation.filters.HttpResponseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HttpResponseFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>de.intranda.digiverso.presentation.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
    <filter>
        <filter-name>SessionCounterFilter</filter-name>
        <filter-class>de.intranda.digiverso.presentation.filters.SessionCounterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionCounterFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resource Servlet</servlet-name>
		<url-pattern>/primefaces_resource/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>RssResolver</display-name>
		<servlet-name>RssResolver</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.RssResolver</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RssResolver</servlet-name>
		<url-pattern>/rss</url-pattern>
		<url-pattern>/rss/</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>IdentifierResolver</display-name>
		<servlet-name>IdentifierResolver</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.IdentifierResolver</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentifierResolver</servlet-name>
		<url-pattern>/resolver</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MetsResolver</display-name>
		<servlet-name>MetsResolver</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.MetsResolver</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MetsResolver</servlet-name>
		<url-pattern>/metsresolver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetsResolver</servlet-name>
		<url-pattern>/lidoresolver</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OAuthServlet</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.openid.OAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/oauth</url-pattern>
	</servlet-mapping>
    <servlet>
        <display-name>DFGViewerImage</display-name>
        <servlet-name>DFGViewerImage</servlet-name>
        <servlet-class>
            de.intranda.digiverso.presentation.servlets.DFGViewerImage
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DFGViewerImage</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>

	<!--
	<servlet>
		<description></description>
		<display-name>JQueryServlet</display-name>
		<servlet-name>JQueryServlet</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.jQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JQueryServlet</servlet-name>
		<url-pattern>/jQueryServlet</url-pattern>
	</servlet-mapping>
	-->
<!-- 	<servlet> -->
<!-- 		<display-name>ContentServer</display-name> -->
<!-- 		<servlet-name>ContentServer</servlet-name> -->
<!-- 		<servlet-class> -->
<!-- 			de.unigoettingen.sub.commons.contentlib.servlet.controller.ContentServer -->
<!-- 		</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>ContentServer</servlet-name> -->
<!-- 		<url-pattern>/cs/*</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<display-name>GoobiContentServer</display-name> -->
<!-- 		<servlet-name>GoobiContentServer</servlet-name> -->
<!-- 		<servlet-class> -->
<!-- 			org.goobi.presentation.contentServlet.controller.GoobiContentServer -->
<!-- 		</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>GoobiContentServer</servlet-name> -->
<!-- 		<url-pattern>/gcs</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<description></description> -->
<!-- 		<display-name>Content</display-name> -->
<!-- 		<servlet-name>Content</servlet-name> -->
<!-- 		<servlet-class>de.intranda.digiverso.presentation.servlets.ContentServerWrapperServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>Content</servlet-name> -->
<!-- 		<url-pattern>/content/*</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<servlet>
		<display-name>PpnResolver</display-name>
		<servlet-name>PpnResolver</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.PpnResolver</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PpnResolver</servlet-name>
		<url-pattern>/piresolver</url-pattern>
		<url-pattern>/ppnresolver</url-pattern>
		<url-pattern>/epnresolver</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>FileServlet</display-name>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/file</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>WebApiServlet</display-name>
		<servlet-name>WebApiServlet</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.WebApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebApiServlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ToolServlet</display-name>
		<servlet-name>ToolServlet</servlet-name>
		<servlet-class>de.intranda.digiverso.presentation.servlets.ToolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToolServlet</servlet-name>
		<url-pattern>/tools</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToolServlet</servlet-name>
		<url-pattern>/cache</url-pattern>
	</servlet-mapping>
	<servlet>
        <display-name>HarvestServlet</display-name>
        <servlet-name>HarvestServlet</servlet-name>
        <servlet-class>de.intranda.digiverso.presentation.servlets.HarvestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HarvestServlet</servlet-name>
        <url-pattern>/harvest</url-pattern>
    </servlet-mapping>
<!-- 	<servlet> -->
<!-- 		<servlet-name>CMSPageServlet</servlet-name> -->
<!-- 		<servlet-class>de.intranda.digiverso.presentation.servlets.CMSPageServlet</servlet-class> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>CMSPageServlet</servlet-name> -->
<!-- 		<url-pattern>/cmspage/*</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<listener>
		<listener-class>de.unigoettingen.sub.commons.util.ImageIOInitializer</listener-class>
	</listener>

	<mime-mapping>
		<extension>htc</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
<!-- 		<session-timeout>120</session-timeout> -->
	</session-config>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
