/* ==============================================================
   User Login
   style declarations for userLogin.xhtml
   ==============================================================*/
/* USER LOGIN */
.user-login {
	display: none;
	&.active {
		position: fixed;
		display: flex;		
		align-items: center;
		justify-content: center;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: @neutralgray;
		overflow-y: auto;
		z-index: 9999;
	}
	& > .fa {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 2.4rem;
		cursor: pointer;
	}
	/* WRAPPER */
	&__wrapper {
		width: 98%;
		max-width: 400px;
		padding: 10px;
		background-color: @neutralgray;
	}
	/* HEADER / BODY */
	&__header,
	&__body {
		padding: 15px;
		border: 1px solid @middlegray;
		background-color: @white;
	}
	&__header,
	&__body,
	&__footer {
		.btn--link {
			&:active, 
			&:focus, 
			&:active:focus {
				color: @black;
			}
		}
		.btn--full {
			&:active, 
			&:focus, 
			&:active:focus {
				color: @white;
			}
		}
	}
	/* HEADER */
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h3 {
			margin: 0;
			font-size: @fontLarge;
		}
	}
	&__header-logo {
		align-self: normal;
		flex: 0 0 25%;
		max-width: 25%;
		background-image: url("@{images}/goobi_logo-blue.png");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
	}
	/* BODY */
	&__body {
		border-top: 0;
		h4 {
			font-size: @fontNormal;
		}
	}
	&__body-login-select {}
	&__body-login-type-wrapper {
		min-height: 215px;		
	}
	&__body-login-type {
		position: relative;
		background-color: @white;
		&.local {
			display: block;
		}
		&.external,
		&.retrieve,
		&.create {
			display: none;
		}
		.form-group,
		p {
			margin-bottom: 1.6rem;
		}
		.form-group.lastname {
			display: none;
		}
	}
	&__body-action {
		padding-top: .5rem;
		padding-bottom: 1.6rem;
		.btn--link {
			font-size: @fontSmall;
		}
		.btn--full {
			width: 100%;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}
	&__body-login-open-id {
		h4 {
			position: relative;
			margin-right: -15px;
			margin-bottom: 1.6rem;
			margin-left: -15px;
			font-size: @fontMedium;
			text-align: center;
			text-transform: uppercase;
			color: @gray;
			span {
				position: relative;
				padding: 0 3px;
				background-color: @white;
				z-index: 10;
			}
			&:before {
				content: "";
				position: absolute;
				display: block;
				top: 50%;
				width: 100%;
				height: 1px;
				margin-top: -1px;
				background-color: @middlegray;
				z-index: 9;
			}
		}
		ul {
			.mx-list-reset;
			li {
				margin-bottom: 0.8rem;
				&:last-child {
					margin-bottom: 0;
				}
				&.Google,
				&.Facebook {
					a {
						&:before {
							margin-right: 5px;
							vertical-align: middle;
						}
					}
				}
				&.Google {
					a {
						&:before {
							content: url("@{images}/icons/icon_google-logo.png");
						}
					}
				}
				&.Facebook {
					a {
						&:before {
							content: url("@{images}/icons/icon_facebook-logo.png");
						}
					}
				}
			}
			a {
				display: block;
				padding: 6px 12px;
				font-weight: 700;
				text-align: center;
				color: @black;
				border: 1px solid @middlegray;
				&:hover,
				&:active,
				&focus {
					text-decoration: none;
					color: @black;
				}
			}
		}
	}
	/* FOOTER */
	&__footer {
		padding: 5px 0;
		font-size: @fontSmall;
		text-align: center;
		color: @gray;
		.btn {
			font-size: inherit;
			vertical-align: inherit;
		}
		button {
			vertical-align: inherit;
		}
	}
}

/* MODIFICATION */
#login-body { 
	.user-login {
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
	    justify-content: center;
	    background-color: @neutralgray;
	    & > .fa {
	    	display: none;
	    }	
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
	.user-login {
		&.active {
			align-items: flex-start;
			padding-top: 25px;
		}
	}
}
