/* ==============================================================
   User Bookmarks
   style declarations for userBackendBookmarkList.xhtml
   ==============================================================*/
/* USER BOOKMARKS */
/* BLOCK */
.user-bookmark {
	/* ELEMENT */
	h2 {}
	/* ADD */
	&__add-bookmark {
		.mx-clearfloats;
		height: 32px;
		margin-bottom: 15px;
		border-bottom: 1px solid @middlegray; 
		input {
			width: 100%;
			height: 32px;
			border: none;
			background-color: transparent;
		}
		button,
		a {
			width: 16px;
			height: 16px;
			background-image: url("@{images}/icons/icon-bs-add.svg");
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}
	/* PANEL */
	&__panel {
		.mx-clearfloats;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid @middlegray;
	}
	&__panel-header {
		.mx-clearfloats;
		h4 {
			margin: 0;
		}
		a {}
		small {
			color: @middlegray;
		}
	}
	&__panel-body {
		.mx-clearfloats;
		padding-top: 15px;
		p {
			margin: 0;
			font-size: @fontSmall;
			font-style: italic;
		}
	}
	&__panel-action {
		a {
			display: inline-block;
			padding: 0 5px;
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}