/* ==============================================================
   Widget Toc
   style declarations for widget_toc.xhtml
   ==============================================================*/
#widgetToc {
    position: relative;
    #AJAXLoaderSidebarToc {
        background-image: url("@{images}/ajax_preloader.gif");
        background-position: center center;
        background-repeat: no-repeat;
    }
    .widget-toc-title {
        position: relative;
        h3 {}
        .widget-toc-title-expand {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            li {
                display: inline-block;
                float: left;
                margin-left: 0.1875rem;
                padding: 0;
                border: inherit;
                a {
                	border: inherit;
                	.fa-stack {
	                	font-size: 10px;
	                	line-height: 18px;
                	}
                }
            }
        }
    }
    .widget-toc-elem-wrapp {
        max-height: 25rem;
        overflow: auto;
        ul {
            li {
                &.parent {
                    .widget-toc-elem-link {
                        border-left: none;
                        a {
                            font-size: 15px;
                        }
                    }
                }
                &.last-child {
                    margin-bottom: 15px;                
                    .widget-toc-elem-link {
                        border-left: none;
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 3px;
                            left: 0;
                            width: 0;
                            height: 10px;
                            border-left: 1px dotted @gray;
                        }
                    }
                }
                .widget-toc-elem-expand {
                    float: left;
                    width: 16px;
                    min-width: 0.75rem;
                    min-height: 1px;
                    a {
                        .fa-stack {
                        	top: 2px;
    						left: -1px;
                        	font-size: 10px;
                        	line-height: 18px;
                        }
                    }
                }
                .widget-toc-elem-link {
                    float: left;
                    width: calc(~"100% - 16px");
                    position: relative;
                    padding: 3px 5px 3px 15px;
                    border-left: 1px dotted @gray;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 13px;
                        left: 0;
                        width: 10px;
                        height: 0;
                        border-bottom: 1px dotted @gray;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                    }
                    &:hover {
                        background-color: @lightgray;
                    }
                    a {
                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}