/* ==============================================================
   Search Timeline
   style declarations for searchTimeline.xhtml 
   ==============================================================*/
/* BLOCK */
.search-timeline {
    /* ELEMENT */
    .btn {
        margin: 0 0 0 5px;
    }
    &__title {
        h2 {}
    }
    &__toggle {
        &.btn {
            margin: 0 0 21px 0;
        }
        &:active,
        &:focus {
            outline: none;
        }
    }
    &__input {
        padding: 21px;
        border-top: 1px solid @middlegray;
        background-color: @lightgray;
        input {
            box-shadow: none;
        }
        .form-horizontal {}
        .form-group {}
        .col-sm-4 {}
        .col-sm-8 {}
        .control-label {}
        .form-control {}
    }
    &__select-wrapper {
        height: 34px;
        padding: 6px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: @white;
        background-image: none;
        border: 1px solid @middlegray;
        select {
            padding: 0 6px;
            border: none;
            box-shadow: none;
        }
    }
    &__reset {
        text-align: right;
        .btn {}
    }
    &__result {
        margin-bottom: 21px;
        padding: 21px 0;
        border-top: 1px solid @middlegray;
        border-bottom: 1px solid @middlegray;
    }
    &__years,
    &__months,
    &__days {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        a,
        span {
            display: block;
            padding: 5px 10px;
            text-align: center;
        }        
    }
    &__years {
    }
    &__year {
        a {}
    }
    &__months,
    &__days {
        justify-content: flex-start;
    }
    &__months {
        border-top: 1px solid @middlegray;
        border-bottom: 1px solid @middlegray;
        background-color: @lightgray;
    }
    &__month {
        a {}
    }
    &__days {
        border-bottom: 1px solid @middlegray;
    }
    &__day {
        padding: 0 5px;
        a,
        span {
            padding: 0;
        }
        a {}
        span {}
    }
    &__action {
        a {}
        .btn {}
    }
    /* MODIFICATION */
    &__year {
        &.active {
            background-color: @middlegray;
        }                
    }
    &__month {
        &.active {
            font-weight: bold;
            text-decoration: underline;
        }                
    }
    &__day {
        &.active {
            background-color: @middlegray;
        }                
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
    .search-timeline__input { display: none; }
    .search-timeline__years { justify-content: flex-start; }
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}