/* ==============================================================
   Search Explanation Text
   style declarations for searchOptions.xhtml 
   ==============================================================*/
#simpleSearchExplanationGroup {
    .searchExplanationText {
        display: none;
        margin-bottom: 1.3125rem;
    }
    .searchParagraphOpen,
    .searchParagraphClosed {
        padding: 0.4375rem 0.4375rem 0.4375rem 1.75rem;
        background-repeat: no-repeat;
        background-position: left center;
        cursor: pointer;
    }
    .searchParagraphOpen {}
    .searchParagraphClosed {}
    .searchParagraphText {
        display: none;
        margin-bottom: 1.3125rem;
        .searchExample {
            display: block;
            margin: 0.4375rem 0;
            padding: 0.4375rem;
            font-style: italic;
            background-color: @lightgray;
        }
    }
    .searchParagraphTextFirst {
        display: block;
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}