/* ==============================================================
   Search Controls
   style declarations for searchOptions.xhtml 
   ==============================================================*/
#searchNavigation {
    ul {
        li {
            display: inline-block;
            text-align: center;
            a, span {
                display: block;
                padding: 5px 10px;
            }
            span {}
            a {}
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}