/* ==============================================================
   Login
   style declarations for login.xhtml
   ==============================================================*/
#login-body { 
	.user-login {
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
	    justify-content: center;	  
	    i.fa.fa-times {
	    	display: none;
	    }	
	}
}