/* ==============================================================
   View Preview
   style declarations for viewPreview.xhtml 
   ==============================================================*/
#view_preview_img_wrapp,
#view_preview_thumb_wrapp {
    padding: 0.5rem 0;
    overflow: hidden;
    img {
        display: block;
        margin: 0 auto;
    }
}

#view_preview_thumb_wrapp {
    margin-bottom: 1.3125rem;
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}