/* ==============================================================
   View Download
   style declarations for viewDownload.xhtml
   ==============================================================*/
/* DOWNLOAD */
/* BLOCK */
.download {
	/* ELEMENT */
	&__status {}
	&__status-loader {
		.mx-clearfloats;
		img {
			float: right;
		}
	}
	&__status-license-text {
        height: 200px;
        background-color: @white;
        overflow-y: auto;
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}