/* ==============================================================
   Crowdsourcing 
   global style declarations for crowdsourcing_layout.xhtml
   ==============================================================*/
/* ADMIN LAYOUT */
.crowdsourcing-campaigns-overview { 
	display: flex;
	flex-direction: column;
	
	&__campaign {
		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin: 5px 0;
		border: 2px solid @middlegray;
		background: white;
		padding: 10px;
		
		>div {
			padding: 5px;
		}
		
		&__image {
			width: 25%;
		    flex-shrink: 0;
		    display: flex;
		    align-items: center;
		    flex-direction: column;

			img {
				max-width: 200px;
			}
		}
		
		&__text {
			display: flex;
			width: 50%;
		    flex-direction: column;
		}
		
		&__actions {
			width: 25%;
			display:flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			a {
				margin: 10px 15px;
				width: 100%;
				
			}
		}
		
		&__statistics {
			width: 100%;
			border: 4px solid @lightgray;
			display: flex;
			&__text {
				width: 50%;
				dl {
					width: 100%;
					margin-bottom: 0;
					dt {
						width: 50%;
						float: left;
						&:after {
							content: ": ";
						}
					}
					dd {
					}
				}
			}
			
			&__bar {
				width: 50%;
				display:flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				progressBar {
					width: 80%;
				}
				.goobi-progress-bar-wrapper {
					border: 2px solid @darkgray;
					
					.goobi-progress-bar {
						height: 30px;
						&__bar {
							display: inline-block;
							height:100%;
						}
					}
				
				}
			}
		}
	}
}

