/* ==============================================================
   Crowdsourcing 
   global style declarations for crowdsourcing_layout.xhtml
   ==============================================================*/
/* ADMIN LAYOUT */
.crowd { 
	
	width: 100vw;
	height: 100vh;

	
	/* HEADER */
	.page-header {
		/* TOP */
		&__top-wrapper {
			height: 30px;
			position: sticky;
			top: 0;
			background-color:  #444;
			z-index: 2020;		
			.container {
				width: auto;	
			}
		}
		&__top {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			min-height: 30px;
			color: white;
			a, button {
				color: white;
				&:hover,
				&:active,
				&:focus {
					color: white;
					text-decoration: none;
				}
			}
			.bookshelf-navigation {
				&__dropdown-list {
					a {
						color: black;
					}
				}
			}
		}
		&__top-mobile-nav,
		&__top-mobile-sidebar {
			display: none;
			flex: 0 0 0%;
			max-width: 0%;
		}
		&__top-brand {
			flex: 0 0 30%;
			max-width: 30%;
		}
		&__top-actions {
			flex: 0 0 70%;
			max-width: 70%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;		
		}
		&__top-actions-language,
		&__top-actions-watchlist,
		&__top-actions-login {
			margin-left: 1.5rem;
		}
		&__top-actions-language {
			position: relative;
			[data-toggle="local"] {
				text-transform: uppercase;			
			}
			.change-local {
				display: none;
				position: absolute;
				top: 3.2rem;
				left: 50%;
				margin-left: -2.35rem;
				padding-top: .1rem;
				background-color: #444;
				box-shadow: 0px 6px 10px rgba(0,0,0,.25);
				z-index: 2000;
				&:before {
					content: "";
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: -1.2rem;
					left: 50%;
					margin-left: -.6rem;
					border-width: .6rem;
					border-style: solid;
					border-color: transparent transparent @blue transparent;
				}
				ul {}
				li {
					display: list-item;
					float: none;
					margin: 0;
					margin-bottom: .1rem;
				}
				a {
					padding: .3rem 1.4rem;
					&:hover,
					&:active,
					&:focus {
						background-color: @hoverblue;			
					}
					&.activeLang {
						background-color: @hoverblue;
					}
				}
				img {}
			}
			
		}
		&__top-actions-watchlist {}
		&__top-actions-login {}
		&__top-mobile-sidebar {
			text-align: right;
		}
		/* BOTTOM */
		&__bottom-wrapper {
			background-color: rgba(242,243,244,0.95);
		}
		&__bottom {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 2rem 0;
		}
		&__bottom-logo {
			flex: 0 0 75%;
			max-width: 75%;
			padding-right: .75rem;
			h1 {
				display: flex;
				align-items: center;
				margin: 0;
				font-size: 3.2rem;
				font-weight: 600;
				a {
					color: black;
					&:hover,
					&:active,
					&:focus {
						color: black;
						text-decoration: none;
					}
				}
				img {
					display: inline-block;
					max-width: 13rem;
					margin-right: 1rem;
					vertical-align: middle;
				}
				span {}
			}
		}
		&__bottom-search {
			flex: 0 0 25%;
			max-width: 25%;
			padding-left: .75rem;
			.widget {
				margin-bottom: 0;
			}		
		}
		&__bottom-search-link {
			padding: .3rem 0 0 .7rem;
		}
	}

	&__content {
		
		background-color: #f2f3f4;
		padding: 15px 0 0 15px;
		height: calc(~"100vh - 30px");
		width: 100vw;
		.breadcrumbs-wrapper {
			height:30px;
		}
		.content {
			width: 100%;
			display: flex;
			align-items: stretch;
			height:calc(~"100vh - 90px") ;
			.loader_wrapper {
				position: absolute;
				pointer-events: none;
				width: 100vw;
				height: 100vh;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.content_left {
				width: 50%;
				background-color: white;
				border:1px solid #d5d5d5;
				.imageview_wrapper {
					width: 100%;
					
					height:calc(~"100% - 50px") ;
					.image-controls__actions {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						margin: 0;
						height: 50px;
					}
					.image_container {
						width: 100%;
						height: calc(~"100% - 50px") ;
						.image {
							width: 100%;
							height:100%;
						}
					}
				}
				.numeric-paginator {
					height: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0;
					span {
						color: #3365a9;
						&:hover {
							cursor: pointer;
						}
					}
					&__active {
						border-color: #3365a9;
						span {
							color: #fff;
							background-color: #3365a9;
							&:hover {
								cursor: default;
							}
						}
					}
					&__separator {
						line-height: 30px;
						padding: 0 3px;
						text-align: center;
						border: none;
					}
				}
			}
			.content_right {
				margin-left: 20px;
				padding-right:15px;
				width: 50%;
				overflow: auto;
				.content_right__title {
					margin-bottom: 10px;
					margin-top: 0;
				}
				.questions_wrapper {
					.question_wrapper {
						background-color: white;
						padding: 5px;
						margin-bottom: 5px;
						border: 1px solid #d5d5d5;
						&.area-selector-question {
							&.active {
								border-width: 2px;
							}
						}
						&__description {
							margin: 10px 0 30px 10px;
						}
						.btn {
							margin: 0 0 10px 10px;
						}
						.annotation_instruction {
							margin: 10px;
							border: 2px solid @lightgray;
							display: flex;
							align-items: center;
							justify-content: center;
							height: 100px;
							color: @middlegray;
							&.annotation_instruction_inactive {
								height: auto;
							}
							label {
								margin: 5px 10px;
							}
						}
						.annotation_wrapper {
							margin-bottom: 40px;
							.btn {
								margin: 0 10px;
							}
						}
						.annotation_area {
							display: flex;
							margin: 0 10px;
							min-height: 100px;
							&__image {
								width: 100px;
								height: 100px;
								display: flex;
						   	    flex-flow: row nowrap;
							    align-items: center;
							    justify-content: center;
								border: 2px solid #d5d5d5;
								margin-right: 20px;
								background-color: #f1f2f3;
								img {
									max-width: 100%;
									max-height: 100%;
								}
							}
							&__text_input {
								flex: 1;
								display: flex;
						   	    flex-flow: row nowrap;
							    align-items: center;
							    justify-content: center;
							    label {
							    	max-width: 150px;
							    }
								textarea {
									flex: 1;
									text-align: left;
									background-color: transparent;
					    			border: 0px solid;
					    			height: 100%;
					    			resize: none;
					    			border: 1px solid #d5d5d5;
					    			&:focus {
					    				border: 1px solid @darkgray;
					    				background: @lightgray2;
					    				resize: vertical;
					    			}
					    			&:disabled {
					    				background-color: @lightgray2;
					    				color: @gray;
					    			}
								}
							}
							&__button {
								float: right;
								margin-right: 10px;
							}
						}
						.geo-map {
							height: 600px;
						}
						
					}
				}
				.options-wrapper {
					width: 100%;
					padding: 5px 0;
					display: flex;
					justify-content: right;
					div {
						margin: 5px 20px;
					}
					&__option {
/* 						margin-left: 10px; */
/* 						background-color: white; */
/* 						border: 1px solid @darkgray; */
					}
				}				
			}
		}
	}
}

