/* ==============================================================
   Crowdsourcing 
   global style declarations for crowdsourcing_layout.xhtml
   ==============================================================*/
/* ADMIN LAYOUT */
.crowd { 
	
	width: 100vw;
	height: 100vh;

	
	/* HEADER */
	.page-header {
		/* TOP */
		&__top-wrapper {
			height: 40px;
			position: sticky;
			top: 0;
			background-color: black;
			z-index: 2020;		
		}
		&__top {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			min-height: 30px;
			color: white;
			a, button {
				color: white;
				&:hover,
				&:active,
				&:focus {
					color: white;
					text-decoration: none;
				}
			}
		}
		&__top-mobile-nav,
		&__top-mobile-sidebar {
			display: none;
			flex: 0 0 0%;
			max-width: 0%;
		}
		&__top-brand {
			flex: 0 0 30%;
			max-width: 30%;
		}
		&__top-actions {
			flex: 0 0 70%;
			max-width: 70%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;		
		}
		&__top-actions-language,
		&__top-actions-watchlist,
		&__top-actions-login {
			margin-left: 1.5rem;
		}
		&__top-actions-language {
			position: relative;
			[data-toggle="local"] {
				text-transform: uppercase;			
			}
		}
		&__top-actions-watchlist {}
		&__top-actions-login {}
		&__top-mobile-sidebar {
			text-align: right;
		}
		/* BOTTOM */
		&__bottom-wrapper {
			background-color: rgba(242,243,244,0.95);
		}
		&__bottom {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 2rem 0;
		}
		&__bottom-logo {
			flex: 0 0 75%;
			max-width: 75%;
			padding-right: .75rem;
			h1 {
				display: flex;
				align-items: center;
				margin: 0;
				font-size: 3.2rem;
				font-weight: 600;
				a {
					color: black;
					&:hover,
					&:active,
					&:focus {
						color: black;
						text-decoration: none;
					}
				}
				img {
					display: inline-block;
					max-width: 13rem;
					margin-right: 1rem;
					vertical-align: middle;
				}
				span {}
			}
		}
		&__bottom-search {
			flex: 0 0 25%;
			max-width: 25%;
			padding-left: .75rem;
			.widget {
				margin-bottom: 0;
			}		
		}
		&__bottom-search-link {
			padding: .3rem 0 0 .7rem;
		}
	}

	&__content {
		
		background-color: @lightgray2;
		padding: 15px;
		height: calc(~"100vh - 40px");
		width: 100vw;
		
	}
	
	&__content-inner {
	
		width: 100%;
		height: 100%;
		
		.content {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: stretch;
			.content_left {
				background-color: white;
				margin: 20px;
				width: 50%;
			}
			.content_right {
				background-color: white;
				margin: 20px;
				width: 50%;
				overflow: auto;
			}
		}
		
		.imageview_wrapper {
			width: 100%;
			height:calc(~"100% - 50px") ;
			.image_controls {
				width: 100%;
				height: 50px;
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
				justify-content: center;
				&__item {
					margin: 9px 15px 6px 15px;
					button {
						width: 32px;
						height:32px;
					}
					&.zoom-slider-wrapper {
				        width: 100px;
				        border: none;
						.zoom-slider {
				            height: 16px;
				            margin-top: 8px;
				            border: 1px solid gray;
						}
						.zoom-slider-handle {
				            position: relative;
				            top: -9px;
				            width: 15px;
				            min-width: inherit;
				            height: 32px;
				            line-height: inherit;
				            border: none;
				            background-color: gray;
				       }
					}
				}
			}
			.image_container {
				width: 100%;
				height: calc(~"100% - 50px") ;
				.image {
					width: 100%;
					height:100%;
				}
			}
		}
		.canvas_paginator {
			height: 50px;
			&__list {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
				justify-content: center;
			}
			&__button {
				border: 1px solid lightblue;
				margin: 5px;
				width: 36px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				padding: 0 3px;
				&:hover {
					background-color: lightblue;
					cursor: pointer;
				}
				&.current {
					background-color: lightblue;
				}
			}
			&__separator {
				line-height: 30px;
				padding: 0 3px;
				text-align: center;
			}
		}
	}
	
	.query_wrapper {
		
		.annotation_area {
			display: flex;
			margin: 30px;
			border: 3px solid @blue;
			min-height: 100px;
			&__image {
				width: 100px;
				height: 100px;
				display: flex;
		   	    flex-flow: row nowrap;
			    align-items: center;
			    justify-content: center;
				border: 2px solid @darkgray;
				margin-top: -20px;
				margin-left: 20px;
				background-color: #f1f2f3;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			&__text_input {
				flex: 1;
				margin: 20px;
				display: flex;
		   	    flex-flow: row nowrap;
			    align-items: center;
			    justify-content: center;
			    label {
			    	max-width: 150px;
			    }
				textarea {
					flex: 1;
					text-align: left;
					background-color: transparent;
	    			border: 0px solid;
	    			height: 100%;
	    			margin-left: 20px;
	    			resize: none;
	    			border: 1px solid @middlegray;
	    			&:focus {
	    				border: 1px solid @darkgray;
	    				background: @lightgray2;
	    				resize: vertical;
	    			}
				}
				
			}
		}

		
	}
}

