.swagger-ui {
	.scheme-container {
//		display: none;
		.servers select,
		.servers-title {
			display: none;
		}
	}
	.info {
		.title {
			small {
				pre {
					 background-color: transparent;
					 border: none;
				}
				
			}
		}
	}
}