/* ==============================================================
   View MEI
   style declarations for viewMEI.xhtml 
   ==============================================================*/
.view-mei {
	&__wrapper {
		background: #ededed;
		padding: 15px;
	}
	.verovio svg {
		max-width: 100%;
		height: auto;
		color: black;
		fill: black;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}