/* ==============================================================
   View Toc
   style declarations for viewToc.xhtml
   ==============================================================*/
/* BLOCK */
.toc {
    margin-bottom: 15px;
    /* TOC METADATA */
    &__metadata {
        display: flex;
        gap: 24px;
        margin-bottom: 16px;
        background-color: @white;
        padding: 1.5rem;
        border: 1px solid @middlegray;
    }
    &__metadata-thumbnail {
        flex-shrink: 0;

        img {
            display: block;
            width: 200px;
            height: auto;
        }
    }
    &__metadata-thumbnail-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 260px;
        background-color: @lightgray2;
        color: @middlegray;
    }
    &__metadata-content {
        flex: 1;
        min-width: 0;

        .metadata__wrapper.-isBoxed {
            padding: 0;
            background: none;
            border: none;
        }
    }

    /* MULTI VOLUME TOC */
    /* ELEMENT */
    h3 {
    }
    &__multi-volume {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    &__mv-group {
        padding: 5px 0;
        button {
            width: 16px;
            height: 16px;
            line-height: 14px;
            margin-right: 10px;
            text-align: center;
            border: 1px solid @lightgray;
            span:before {
                content: '\2013';
            }
            &.active {
                span:before {
                    content: '+';
                }
            }
        }
        &.inactive {
            border-bottom: 2px solid @lightgray;
        }
    }
    &__mv-element {
        padding: 15px 0;
        border-bottom: 0;
        background-color: @white;
        &:hover {
            background-color: @lightgray;
        }
        &:last-child {
            border-bottom: 1px solid @middlegray;
        }
        &.level-0 {
            border: 0;
            background-color: transparent;
            display: none;
            h3 {
            }
        }
        a {
            display: block;
        }
        .row {
            margin: 0;
        }
    }
    &__mv-element-title {
    }
    &__mv-element-link {
    }
    &__mv-element-img {
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    &__list-outer-list {
        display: flex;
        flex-direction: column;
    }
    /* TOC TREEVIEW */
    /* ELEMENT */
    &__list-expandable,
    &__list-full {
        padding: 10px 15px;
        border-top: 1px solid @middlegray;
        li {
            &:first-child {
                //				padding-left: 5px !important;
            }
            &:hover {
                background-color: @toc-page-hover-bg;
            }
        }
    }
    &__list-expandable-title,
    &__list-full-title {
        a,
        button {
            color: @toc-page-link-color;
            //			display: block;
            //			padding: 5px 0;
            &:hover,
            &:focus,
            &:active {
                color: @toc-page-link-color-hover;
            }
        }
    }
    &__list-expandable-number,
    &__list-full-number {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        flex-wrap: wrap;
        align-items: center;
        li {
            display: inline-block;
            border: none;
        }
        a {
            text-decoration: none;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
        .icon-wrapper svg {
            color: @toc-page-toggle-icon-color;
        }
    }
    &__list-expandable-download-button,
    &__list-full-download-button {
        display: flex;
        .icon-wrapper svg {
            color: @toc-page-toggle-icon-color;
        }
        &:hover .icon-wrapper svg {
            color: @toc-page-toggle-icon-color-hover;
        }
        &:focus .icon-wrapper svg,
        &:active .icon-wrapper svg {
            color: @toc-page-toggle-icon-color;
        }
    }
    /* EXPAND ALL */
    &__list-expandable-all {
        margin: 15px 0;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        .btn {
            .icon-wrapper svg {
                color: @toc-page-toggle-icon-color;
            }
            &:hover .icon-wrapper svg {
                color: @toc-page-toggle-icon-color-hover;
            }
            &:focus .icon-wrapper svg,
            &:active .icon-wrapper svg {
                color: @toc-page-toggle-icon-color;
            }
        }
    }
    /* TOC EXPANDABLE */
    &__list-expandable {
    }
    &__list-expandable-elem,
    &__list-full-item {
        padding: 4px 0px;
        &.parent {
        }
        &.child {
        }
    }
    &__list-expandable-elem + &__list-expandable-elem:not(.toc__list-expandable-elem--hidden),
    &__list-full-item + &__list-full-item {
        border-top: 1px solid @toc-page-border-color;
    }
    &__list-expandable-title-wrapper,
    &__list-full-title-wrapper {
        display: flex;
        align-items: center;
    }
    &__list-expandable-expand {
    }
    &__list-expandable-toggle {
        display: flex;
        .icon-wrapper svg {
            color: @toc-page-toggle-icon-color;
        }
        &:hover .icon-wrapper svg {
            color: @toc-page-toggle-icon-color-hover;
        }
        &:focus .icon-wrapper svg,
        &:active .icon-wrapper svg {
            color: @toc-page-toggle-icon-color;
        }
    }
    &__list-expandable-elem--hidden {
        display: none;
    }
    &__list-expandable-elem--expanded .icon-wrapper:has(.toc__icon-expand) {
        display: none;
    }
    &__list-expandable-elem:not(.toc__list-expandable-elem--expanded) .icon-wrapper:has(.toc__icon-collapse) {
        display: none;
    }
    &__list-expandable-title {
        a {
            &:hover,
            &:focus,
            &:active {
            }
        }
    }
    &__list-expandable-number {
        li {
        }
        a {
            &:hover,
            &:focus,
            &:active {
            }
        }
    }
    /* TOC FULL */
    &__list-full {
        margin-top: 15px;
    }
    &__list-full-title {
        a {
            &:hover,
            &:focus,
            &:active {
            }
        }
    }
    &__list-full-number {
        li {
        }
        a {
            &:hover,
            &:focus,
            &:active {
            }
        }
    }

    // TILE/GRID VIEW OF TOC ENTRIES
    &__mv-tile-grid-heading {
        // REMOVE THIS IF HEADING NEEDED
        display: none;
        grid-column: 1 / -1;
        margin-bottom: 0;
    }
    &__mv-tile-grid {
        display: grid;
        gap: 20px 30px;
        grid-template-columns: 1fr 1fr 1fr;
        background: #fff;
        padding: 1.5rem;
    }
    &__mv-tile {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &:hover {
            .toc__mv-tile-image {
                opacity: 0.85;
            }
        }
    }
    &__mv-tile-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        max-width: 100%;
        height: 100%;
        transition: opacity 0.2s ease;
    }
    &__mv-tile-image-wrapper {
        height: 200px;
    }
    &__mv-tile-title-wrapper {
    }
    &__mv-tile-title {
        word-wrap: break-word;
        font-size: 16px;
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {
}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
	.toc {
		.metadata__element-dl{
			grid-template-columns: unset;
			grid-template-rows: auto;
		}
		.metadata__element-dl dd, 
		.metadata__event-dl dd {
			grid-column-start: unset;
			word-wrap: anywhere;
		}
	}
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
    .toc {
        &__mv-tile-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
    .toc {
        &__metadata {
            flex-direction: column;
        }
        &__mv-tile-grid {
            grid-template-columns: 1fr;
        }
    }
}
