/* ==============================================================
   View Timematrix
   style declarations for viewTimematrix.xhtml
   ==============================================================*/
.timematrix {
    h2 {}
    p {}
    h3 {}
    &__subarea {
    	display: flex;
    }
    &__selection-header {
    	flex: 0 0 50%;
    	max-width: 50%;
    }
    &__loader {
    	flex: 0 0 50%;
    	max-width: 100%;
    	justify-content: right;
		display: grid;
    	img {
    		width: 60%;
			display: block;
			margin-left: auto;
			margin-right: auto;
    		margin-bottom: 1.5rem;
    	}
    }
    &__selection {
	    padding: 5.2rem 5rem 1rem 3.9rem;
	    border: 1px solid #d5d5d5;
	    background-color: #fff;
	    margin-bottom: 2rem;
	    display: flex;
		flex-wrap: wrap;
        #locateTimematrix {
        	flex: 0 0 100%;
			max-width: 100%;
        }
        #slider-range {
        	height: 1.2rem;
        	border: 1px solid @middlegray;
            .ui-slider-range {}
            .ui-slider-handle {
                display: block;
                position: absolute;
                float: left;
                width: 2rem;
                height: 2rem;
                border: 1px solid @middlegray;
                border-radius: 0;
                background-color: @blue;
                cursor: pointer;
                z-index: 998;
                &.top {
                	position: absolute;
                	z-index: 999;
                }
                &:focus {
            		outline: none;
            	}
                .timematrix-slider-bubble-startDate,
                .timematrix-slider-bubble-endDate {
                    position: absolute;
                    top: -3.5rem;
                    left: 50%;
                    min-width: 6rem;
                    margin-left: -3rem;
                    padding: .3rem .8rem;
                    font-size: @fontMedium;
                    text-align: center;
                    border-radius: .4rem;
                    color: @white;
                    background: @blue; 
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -1rem;
                        left: 50%;
                        width: 0;
                        height: 0;
                        margin-left: -.5rem;
                        border-color: @blue transparent transparent transparent;
                        border-style: solid;
                        border-width: .5rem;
                    }
                }
            }
        }
        .btn {
	        float: right;
	        margin: 1.3125rem 0 0 0;
	        margin-right: 0;
	        display: none;
    	}
    	button {
    		display: none;
    	}
    }
    &__hitsForm {
    	flex: 0 0 100%;
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		margin-top: 3rem;
		label {
			margin-right: 1.5rem;
		}
		input {
			margin-right: -3rem;
			width: 6rem;
			text-align: center;
			border: 0px inset #d5d5d5;
			border: 1px solid #d5d5d5;
		}
	}
	
	&__objects {
	    display: flex;
	    flex-wrap: wrap;
	    margin: -0.5rem;
	}

	&__content {
	    border: 1px solid #ccc;
	    margin: .5rem;
	    background-color: #fff;
	    position: relative;
	    text-align: center;
	    flex: 0 0 calc(16.6666% - 1rem);
	    max-width: calc(16.6666% - 1rem);
	}
	&__img {
			height: 15rem;
			overflow: hidden;
			img {
				width: 100%;
			}
	}
	&__text {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0,0,0,0.65);
		color: #fff;
		width: 100%;
		height: 100%;
		transition: all .3s ease-in;
		overflow: hidden;
		text-overflow: ellipsis;
		display: flex;
		&:hover {
			opacity: 1;
		}
		 p {
		    position: relative;
		    margin-bottom: 2rem;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    line-height: 2rem;
		    font-size: 1em;
		    padding: 0 .5rem;
		    width: 100%;
		    top: 0;
		    margin-top: auto;
		}
		a {
			color: @white;
			position: absolute;
			bottom: 0;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			padding: .5rem;
			font-weight: bold;
			&:hover,
			&:focus,
			&:active {
				color: @white;
			}
		}
	}
	&__img img:hover + &__text {
			display: block;
			height: 100%;
	}
	&__footer {
		padding: .5rem 0;
		background-color: @blue;
		a {
		color:@white;
		&:hover,
		&:active,
		&:focus {
			color: @white;
			text-decoration: none;
		}
		}
	}
}


/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
	.timematrix {
		&__content {
			flex: 0 0 calc(25% - 1rem); 
		}
	}
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
	.timematrix {
		&__content {
			flex: 0 0 calc(33.33% - 1rem);
		}
	}
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
	.timematrix__content {
		max-width: 45%;
	}
}