/* ==============================================================
   View Timematrix
   style declarations for viewTimematrix.xhtml
   ==============================================================*/
.timematrix {
    h2 {}
    p {}
    h3 {}
    &__selection-header {}
    &__selection {
	    padding: 5.2rem 5rem 6rem 3.9rem;
	    border: 1px solid #d5d5d5;
	    background-color: #fff;
	    margin-bottom: 2rem;
        #slider-range {
        	height: 1.2rem;
        	border: 1px solid @middlegray;
            .ui-slider-range {}
            .ui-slider-handle {
                display: block;
                position: absolute;
                float: left;
                width: 2rem;
                height: 2rem;
                border: 1px solid @middlegray;
                border-radius: 0;
                background-color: @blue;
                cursor: pointer;
                z-index: 998;
                &.top {
                	position: absolute;
                	z-index: 999;
                }
                &:focus {
            		outline: none;
            	}
                .timematrix-slider-bubble-startDate,
                .timematrix-slider-bubble-endDate {
                    position: absolute;
                    top: -4rem;
                    left: 50%;
                    min-width: 6rem;
                    height: 3rem;
                    line-height: 2.8rem;
                    margin-left: -3rem;
                    padding: 0 .5rem;
                    font-size: @fontMedium;
                    text-align: center;
                    border: 1px solid @middlegray;
                    border-radius: .3rem;
                    background: @lightgray; 
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -2rem;
                        left: 50%;
                        width: 0;
                        height: 0;
                        margin-left: -1rem;
                        border-color: @middlegray transparent transparent transparent;
                        border-style: solid;
                        border-width: 1rem;
                    }
                }
            }
        }
        .btn {
        float: right;
        margin: 1.3125rem 0 0 0;
    	}
    }
    &__objects {
    	display: flex;
    	flex-wrap: wrap;
    }
	&__content {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		max-width: 15rem;
		margin: 2rem auto;
		text-align: center;
		button {
			border: none;
			outline: 0;
			padding: 12px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 100%;
			font-size: 18px;
		}
		.imgContent {
			width: 15rem;
			height: 15rem;
			overflow: hidden;
		}
		img {
			width: 100%;
		}
		h4 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
			padding: .5rem 1rem;
			width: 15rem;
			transition: 1s;
			&:hover {
				overflow: visible;
				white-space: normal;
				transition: 1s;
			}
		}
		a {}
	}
}


@media screen and (max-width: 400px) {
	#timematrixCanvas {
	    .timematrix-box {
	        .timematrix-header {
	            h3 {}
	        }
	        .timematrix-body {
	            .timematrix-thumb {
	            	width: 33.33333%;
	                &:hover {}
	                img {}
	                &.marker:before {}
	            }
	        }
	        .timematrix-footer {}
	    }
	}	
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}