/* ==============================================================
   Crowdsourcing 
   global style declarations for crowdsourcing_layout.xhtml
   ==============================================================*/
/* ADMIN LAYOUT */
.tec-archives {
	width: 100vw;
	&__top-wrapper {
		height: 60px;
		position: fixed;
		top: 0;
		background-color: #444;
		z-index: 2020;
		width: 100%;
		.container {
			width: auto;	
		}
		.login-navigation [data-login="true"] .login-navigation__user-dropdown {
			top: calc(100% + 19px);
		}
	}
	&__header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 60px;
		color: white;
		a, .btn, button {
			color: white;
			&:hover,
			&:focus,
			&:active {
				color: white;
			}
		}
	}
	&__top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 60px;
		color: white;
		a, button {
			color: white;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
		.bookmark-navigation {
			&__dropdown-list {
				a {
					color: black;
				}
			}
		}
	}
	&__top-mobile-nav,
	&__top-mobile-sidebar {
		display: none;
		flex: 0 0 0%;
		max-width: 0%;
	}
	&__top-brand {
		flex: 1;
		padding: 1.5rem;
		margin-right: auto;
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__top-title {
		flex: 1;
		text-align: center;
		font-weight: 700;
		font-size: 1.6rem;
	}
	&__top-actions {
		flex: 1;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;	
		padding: 1.5rem;
	}
	&__top-actions-language,
	&__top-actions-bookmark,
	&__top-actions-login {
		margin-left: 1.5rem;
	}
	&__top-actions-language {
		position: relative;
		[data-toggle="local"] {
			text-transform: uppercase;			
		}
		.change-local {
			display: none;
			position: absolute;
			top: 3.2rem;
			left: 50%;
			margin-left: -2.35rem;
			padding-top: .1rem;
			z-index: 2000;
			box-shadow: none;
			ul {}
			li {
				display: list-item;
				float: none;
				margin: 0;
				margin-bottom: .1rem;
			}
			a {
				padding: .3rem 1.4rem;
				&:hover,
				&:active,
				&:focus {
				}
				&.activeLang {
				}
			}
			img {}
		}
	}
	&__wrapper {
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__left-side {
		flex: 0 0 40%;
		background: white;
	} 
	&__right-side {
		flex: 0 0 59%;
	}
	&__graphic-tree {
		padding: 2rem;
	}
	&__text-tree {
		background: white;
		margin-bottom: 2rem;
		padding: 2rem;
		cursor: pointer;
		&.-showAsOneLine {
			display: flex;
			flex-wrap: wrap;
			.tec-archives__text-tree-entry {
				&::after {
					content: '›';
					margin-left: 1rem;
					margin-right: 1rem;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
			}
			// adding zero padding child elements
			.tec-archives__text-tree-entry:nth-child(n+0){
					padding-left: 0;
		 	}
			.tec-archives__text-tree-level {
				display: none;
			}
			.tec-archives__text-tree-value {
			}
		}
	// adding more padding to every following child element
	.tec-archives__text-tree-staircase (@indexstart,@index) when (@indexstart < @index ){
		.tec-archives__text-tree-entry:nth-child(@{indexstart}){
				padding-left: (@indexstart - 1 ) * 20px + 20px;
	 	}
		.tec-archives__text-tree-staircase (@indexstart + 1,@index);
	}
	.tec-archives__text-tree-staircase (2,15);
	}
	&__text-tree-entry {
		display: flex;
	}
	&__text-tree-level {
		padding-right: 1rem;
	}
	&__text-tree-value {
		font-weight: 700;
	}
	&__text-tree-entry {}
	&__object-info {
		background: white;
		padding: 2rem;
		display: flex;
	}
	&__main {
		background-color: #f2f3f4;
		width: 100vw;
		display: block;
		margin-top: 60px;
	}
	&__content-wrapper {
		width: 100%;
		display: flex;
		align-items: stretch;
	}
	&__loader-wrapper {
		position: absolute;
		pointer-events: none;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__content-left {
		width: 50%;
		background-color: white;
		border: 1px solid #d5d5d5;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		.imageview_wrapper {
			width: 100%;
			height:calc(~"100% - 50px") ;
			.image-controls__actions {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				margin: 0;
				height: 50px;
			}
			.image_container {
				width: 100%;
				height: calc(~"100% - 50px") ;
				.image {
					width: 100%;
					height:100%;
				}
			}
		}
	}
	&__search-input-wrapper {
		position: relative;
	}
	&__search-input {
		width: 100%;
		border: 1px solid #d5d5d5;
		padding: .5rem 3rem .5rem 1rem;
	}
	&__search-submit-button {
		display: none;
	}
	&__search-clear {
		display: none;
		cursor: pointer;
		padding: 1rem;
		position: absolute;
		right: 5px;
		top: 0;
		font-size: 1.6rem;
		line-height: 1.1rem;
	}
	&__content-right {
		margin-left: 1.5rem;
		padding-right: 15px;
		width: 50%;
		overflow: auto;
		padding-top: 1.5rem;
	}
	&__content-right-title {
		margin-bottom: 10px;
		margin-top: 0;
		background-color: white;
		padding: 1rem;
		margin-bottom: 1rem;
		border: 1px solid #d5d5d5;
	}
	&__questions-wrapper {
		&.area-selector-question {
			&.active {
				border-width: 2px;
			}
		}
	}
	&__search-input {}
	
	.login-navigation [data-login="true"] .login-navigation__bookmarks-list {
		display: none;
	}
	.tectonics-tree__inactive-title,
	.tectonics-tree__active-title {
		&::after {
			display: none;
		}
	}
}
