/* ==============================================================
   View Fullscreen Record Notes Styling
   ==============================================================*/
/* FULLSCREEN RECORD NOTES */
.fullscreen {
	#widgetRecordNotes {}
	.widget-record-notes {
		border-bottom: 1px solid @fsMiddlegray;
		margin-bottom: 1.5rem;
		background: transparent;
		.widget__title {
				font-size: 1.4rem;
				font-weight: 700;
				background: none;
				color: @black;
				border: none;
		}
		.widget__body {
			padding-top: 0;
			border: none;
			background-color: transparent;
			p {
				margin-bottom: 1rem;
			}
		}
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}
 
/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}