/* ==============================================================
   View Fullscreen Signal 
   ==============================================================*/
/* FULLSCREEN SIGNAL */
.fullscreen__view-sidebar-signal {
	display: flex;
	align-items: center;
	padding: 1.5rem;
	padding-top: 0;
	padding-right: 0;
	background-color: @white;
}
.fullscreen__view-sidebar-copy-sign {
	margin-right: 1rem;
}
.fullscreen__view-sidebar-copy-info {}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}
 
/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}