/* ==============================================================
   Admin Licences
   style declarations for adminLicenses.xhtml
   ==============================================================*/

#adminLicenses {
	.admin {
		&__license-unconfigured-entry {
			transition: background .2s ease;
			padding: 0.4rem 0.5rem;
			margin: 0 -2rem;
			&:hover {
				background: @lightgray2;
				text-decoration: none;
			}
		}
		&__license-user {
			margin-right: 0.7rem;
			/* 
			&:last-of-type {
				&::after {
					display: none;
				}
			}
			&::after {
				height: 50%;
				content: "";
				display: inline-block;
				width: 1px;
				background: #000;
				margin-left: .8rem;
				margin-right: .8rem;
				opacity: 0.15; 
			}*/
		}
	}
}


/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}