/* ==============================================================
   Admin Config Editor
   style declarations for adminConfigEditor.xhtml
   ==============================================================*/

#adminConfigEditor {
	padding-bottom: 150px;
	textarea {
		// display: block !important;
	}
	.CodeMirror {
		height: calc(~"100vh - 250px");
	}
	#codemirrorFileContent {
		display: none;
	}
	.admin {
		&__overlay-bar {
			// display: flex !important;
			flex-direction: row;
			justify-content: flex-end;
			&.-slideOut {
				display: flex;
				animation: slideInOut 0.25s ease 0s 1 forwards;
			}
			&.-slideIn {
				display: flex;
				animation: slideInUp 0.25s ease 0s 1 forwards;
			}
		}
	}
	// ANIMATION FOR SLIDE IN THE SAVE AND CANCEL BUTTON
	@keyframes slideInUp {
	  from {
	    -webkit-transform: translate3d(0, 100%, 0);
	    transform: translate3d(0, 100%, 0);
	    visibility: visible;
	  }
	
	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}
	
	.-slideInUp {
	  -webkit-animation-name: slideInUp;
	  animation-name: slideInUp;
	}
	
	@keyframes slideInOut {
	  from {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);

	  }
	
	  to {
	    -webkit-transform: translate3d(0, 100%, 0);
	    transform: translate3d(0, 100%, 0);
	    visibility: visible;
	  }
	}
	
	.-slideInUp {
	  animation-name: slideInOut;
	}
	
	.delay-animation(@items, @delay) {
	  .loopingClass(0); // Start loop
	  
	  .loopingClass(@index) when (@index <= @items) {
	    &:nth-child(@{index}) {
	        animation-delay: unit((@index * @delay),s);
	    }
	
	    .loopingClass(@index + 1); // Increment loop
	  }
	}
	
	/* =================================== */
	
	@numitems: 20;
	@delay: 0.1;

	
	.admin__config-editor-backup-single-entry {
		animation: fadeInDown 0.15s ease-in 0s 1 forwards;
		.delay-animation(@numitems, @delay);
	}
	
	/* Animation */
	
	@keyframes fadeInDown {
	  from { opacity: 0;
			 transform: translateX(-10px);
		   }
	  to { opacity: 1; 
		   transform: translateX(0px);}
	}
	
}
.admin {
	&__config-editor {
		&-file-selection-inner {
			display: flex;
			flex-wrap: wrap;
			border: 1px solid #ccc;
		}
		&-file-selection-single-entry {
			flex: 0 0 100%;
			max-width: 100%;
			padding: .5rem 1rem;
			border-bottom: 1px solid #ccc;
		}
		&-backup-single-entry {
			display: flex;
			opacity: 0;
			padding: .5rem 1rem;
			padding-right: 2rem;
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: none;
			}
		}
		&-backup-single-entry-text {
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&-backup-single-entry-icon {
			margin-left: auto;
		}
		&-backup-wrapper {
			border: 1px solid #ccc;
		}
		&-backup-single-entry-outer {
			border-bottom: 1px solid #ccc;
		}
		&-overlay-bar-buttons-wrapper {
			display: flex;
			gap: 20px;
			margin-right: 20px;
		}
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}