
#adminCreateRecord {

	.admin {
		&__content-inner-content {
			h3 {
				margin-top: 30px; 
				font-size: 2.4rem;
			}
			&__description {
				display: block;
				margin-bottom: 1rem;
				font-size: 1.4rem;
				font-style: normal;
				color: #666;
			}
			&__input_form { 
				border: 1px solid #ddd;
				background: white;
				padding: 10px;
				display: grid;
				grid-row-gap: 10px;
				font-size: 1.4rem;
			}
			&__upload_form {
				.admin-cms-media {
					&__upload-wrapper {					
					}
					&__upload {
						background: white;
					}
				}
			}
			.input_form {
				&__option_group {
					display: grid;
					grid-template-columns: 10% 1% 83% 6%;
					grid-row-gap: 5px;
				}
				&__option_label {
					label {
						height: auto;
					}
				}
				&__option_marker {
					visibility: hidden;
					&.in {
						visibility: visible;
					}
				}
				&__option_control {
					input[type="date"] {
						line-height: inherit;
					}
				}
				&__option_help {
					text-align: center;
				}
				&__option_control_helptext {
					display: none;
					font-size: 1.2rem;
					font-style: italic;
					grid-column-start: 3;
					color: #666;
					&.in {
						display: block;
					}
				}
			}
			&__controls {
				display: flex;
				justify-content: flex-end;
				.btn {
					margin-left: 10px;
				}
			}
		}
	}
}
