/* ==============================================================
   Admin 
   global style declarations for admin_layout.xhtml
   ==============================================================*/
/* ADMIN LAYOUT */
.admin {
	.mx-clearfloats;
	position: relative;
	button.btn {
		&:active, 
		&:focus, 
		&:active:focus {
			color: @black;
		}
	}
	&__sidebar,
	&__content {
		float: left;
	}
	/* SIDEBAR */
	&__sidebar-background,
	&__sidebar {
		width: 250px;		
		background-color: @blue;
	}
	&__sidebar-background {
		position: fixed;
		top: 0;
		bottom: -120px;
		z-index: 1;
	}
	&__sidebar {
		position: absolute;
		padding: 15px;
		font-size: @fontNormal;
		z-index: 1010;
		&.fixed-top,
		&.fixed-bottom {
			position: fixed;
		}
		&.fixed-top {
			top: 0;
		}
		&.fixed-bottom {
			bottom: 0;
		}
		a, button {
			color: @white;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				color: @white;
			}
		}
	}
	&__sidebar-inner {
		h1 {
			line-height: normal;
			margin: 0;
			margin-bottom: 30px;
			font-size: @fontLarge;
			color: @white;
			a {
				display: flex;
				align-items: center;
				max-width: 100%;
			}
			img {
				max-width: 30%;
				margin-right: 10px;
			}
		}
	}
	&__sidebar-logout {
		margin-right: -15px;
		margin-left: -15px;
		padding-top: 10px;
		padding-right: 15px;
		padding-left: 15px;
		border-top: 1px solid @white;
	}
	/* CONTENT */
	&__content-background,
	&__content {
		width: calc(~"100% - 250px");
		margin-left: 250px;
	}
	&__content {
		padding: 15px;
		position: absolute;
		&.fixed-top,
		&.fixed-bottom {
			position: fixed;
		}
		&.fixed-top {
			top: 0;
		}
		&.fixed-bottom {
			bottom: 0;
		}
	}
	&__content-background {
		background-color: @neutralgray;
		position: fixed;
		top: 0;
		bottom: -120px;
		z-index: -1;
	}
	&__content-inner {
		min-height: calc(~"100vh - 30px");
/* 		background-color: @white; */
	}
	&__content-inner-title {
		margin: 0;
		padding: 15px;
		font-size: 3.2rem;
/* 		background-color: @neutralgray; */
	}
	&__content-inner-title-exit {
		display: inline-block;
		float: right;
    	width: 32px;
    	height: 32px;
    	background-image: url("@{images}/icons/icon_fs-exit.svg");
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: 24px;
	}
	&__content-inner-content {
		padding: 15px;
	}
	
	
	table {
		background-color: @white;
	}
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}