<?xml version="1.0" encoding="UTF-8"?>

<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Set mode for the JSESSONID cookie. Google authentication needs "lax" -->
    <CookieProcessor sameSiteCookies="strict" />
</Context>
