/* ==============================================================
   Resets for CSS Libs
   ==============================================================*/
 /* BOOTSTRAP */
 .page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
}